@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using XtremeIdiots.Portal.AdminWebApp.Auth.Constants
@using XtremeIdiots.Portal.AdminWebApp.Constants
@using XtremeIdiots.Portal.AdminWebApp.Extensions
@using XtremeIdiots.Portal.AdminWebApp.ViewModels
@using XtremeIdiots.Portal.RepositoryApi.Abstractions.Constants
@using XtremeIdiots.Portal.RepositoryApi.Abstractions.Extensions
@inject IAuthorizationService AuthorizationService
@inject SignInManager<IdentityUser> SignInManager
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header"> @if (SignInManager.IsSignedIn(User))
                                {
                    <div class="dropdown profile-element">
                        <img src="@(User.PhotoUrl())" alt="Avatar" class="img-fluid rounded-circle shadow-sm"
                            style="max-height: 80px; max-width: 80px; margin: 0 auto 10px; display: block">
                        <a data-toggle="dropdown" class="dropdown-toggle d-flex align-items-center justify-content-center"
                            href="#">
                            <span class="block m-t-xs font-bold text-center">
                                <i class="fa fa-user-circle fa-fw"></i> @(User.Identity?.Name) <b class="caret"></b>
                            </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInDown m-t-xs"
                            style="left: 0; position: absolute; top: 91px; will-change: top, left;">
                            <li>
                                <a asp-controller="Profile" asp-action="Manage" class="dropdown-item">
                                    <i class="fa fa-id-card fa-fw"></i> Manage Profile
                                </a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li>
                                <form class="form-inline" asp-controller="Identity" asp-action="Logout" method="post">
                                    <button class="dropdown-item" type="submit">
                                        <i class="fa fa-sign-out fa-fw"></i> Logout
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                }
                                else
                {
                    <div class="dropdown profile-element text-center">
                        <div class="placeholder-avatar mb-3">
                            <i class="fa fa-user-circle fa-4x text-muted"></i>
                        </div>
                        <form class="form-inline" asp-controller="Identity" asp-action="LoginWithXtremeIdiots"
                            method="post">
                            <button type="submit" class="btn btn-primary btn-block">
                                <i class="fa fa-sign-in fa-fw"></i> XtremeIdiots Login
                            </button>
                        </form>
                    </div>
                }

                <div class="logo-element">
                    &gt;XI&lt;
                </div>
            </li>
            <li policy="@AuthPolicies.AccessHome" class="@Html.IsSelected("Home", "Index")">
                <a asp-controller="Home" asp-action="Index">
                    <i class="fa fa-home fa-fw"></i> <span class="nav-label">Home</span>
                </a>
            </li>
            <li policy="@AuthPolicies.AccessServers" class="@Html.IsSelected("Servers", "Index") nav-item">
                <a href="#" class="nav-link">
                    <i class="fa fa-server fa-fw"></i> <span class="nav-label">Servers</span> <span
                        class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse @Html.IsSelected("Servers", cssClass: "show")">
                    <li class="@Html.IsSelected("Servers", "Index")">
                        <a asp-controller="Servers" asp-action="Index"><i class="fa fa-list fa-fw"></i> Game Servers</a>
                    </li>

                    <li class="@Html.IsSelected("Servers", "Map")">
                        <a asp-controller="Servers" asp-action="Map"><i class="fa fa-map-marker fa-fw"></i> Player
                            Map</a>
                    </li>
                </ul>
            </li>

            <li policy="@AuthPolicies.AccessCredentials" class="@Html.IsSelected("Credentials", "Index")">
                <a asp-controller="Credentials" asp-action="Index">
                    <i class="fa fa-key fa-fw"></i> <span class="nav-label">Credentials</span>
                </a>
            </li>
            <li policy="@AuthPolicies.AccessServerAdmin" class="@Html.IsSelected("ServerAdmin", "Index") nav-item">
                <a href="#" class="nav-link">
                    <i class="fa fa-terminal fa-fw"></i> <span class="nav-label">Server Admin</span> <span
                        class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse @Html.IsSelected("ServerAdmin", cssClass: "show")">
                    <li class="@Html.IsSelected("ServerAdmin", "Index")">
                        <a asp-controller="ServerAdmin" asp-action="Index"><i class="fa fa-server fa-fw"></i>
                            Servers</a>
                    </li>

                    <li policy="@AuthPolicies.ViewGlobalChatLog"
                        class="@Html.IsSelected("ServerAdmin", "ChatLogIndex")">
                        <a asp-controller="ServerAdmin" asp-action="ChatLogIndex"><i class="fa fa-comments fa-fw"></i>
                            Global ChatLog</a>
                    </li>

                    @foreach (var game in ChatLogSupportedGames.Games)
                    {
                        @if ((await AuthorizationService.AuthorizeAsync(User, game,
                                            AuthPolicies.ViewGameChatLog)).Succeeded)
                        {
                            <li class="@Html.IsSelected("ServerAdmin", "GameChatLog", id: game.ToString())">
                                <a asp-controller="ServerAdmin" asp-action="GameChatLog"
                                    asp-route-id="@game">@Html.GameTypeIcon(game) @game.ShortDisplayName() ChatLog</a>
                            </li>
                        }
                    }
                </ul>
            </li>
            <li policy="@AuthPolicies.AccessDemos" class="@Html.IsSelected("Demos", "Index") nav-item">
                <a href="#" class="nav-link">
                    <i class="fa fa-video-camera fa-fw"></i> <span class="nav-label">Demo Manager</span> <span
                        class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse @Html.IsSelected("Demos", cssClass: "show")">
                    <li class="@Html.IsSelected("Demos", "DemoClient")">
                        <a asp-controller="Demos" asp-action="DemoClient"><i class="fa fa-download fa-fw"></i> Demo
                            Client</a>
                    </li>

                    <li class="@Html.IsSelected("Demos", "Index")">
                        <a asp-controller="Demos" asp-action="Index"><i class="fa fa-list fa-fw"></i> Demos Index</a>
                    </li>

                    @foreach (var game in DemosSupportedGames.Games)
                    {
                        <li class="@Html.IsSelected("Demos", "GameIndex", id: game.ToString())">
                            <a asp-controller="Demos" asp-action="GameIndex" asp-route-id="@game">@Html.GameTypeIcon(game)
                                @game.DisplayName()</a>
                        </li>
                    }

                </ul>
            </li>
            <li policy="@AuthPolicies.AccessMaps" class="@Html.IsSelected("Maps", "Index") nav-item">
                <a href="#" class="nav-link">
                    <i class="fa fa-map fa-fw"></i> <span class="nav-label">Maps</span> <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse @Html.IsSelected("Maps", cssClass: "show")">
                    <li class="@Html.IsSelected("Maps", "Index")">
                        <a asp-controller="Maps" asp-action="Index"><i class="fa fa-list fa-fw"></i> Maps Index</a>
                    </li>

                    <li class="@Html.IsSelected("Maps", "GameIndex", id: GameType.CallOfDuty2.ToString())">
                        <a asp-controller="Maps" asp-action="GameIndex"
                            asp-route-id="@GameType.CallOfDuty2">@Html.GameTypeIcon(GameType.CallOfDuty2)
                            @GameType.CallOfDuty2.DisplayName()</a>
                    </li>

                    <li class="@Html.IsSelected("Maps", "GameIndex", id: GameType.CallOfDuty4.ToString())">
                        <a asp-controller="Maps" asp-action="GameIndex"
                            asp-route-id="@GameType.CallOfDuty4">@Html.GameTypeIcon(GameType.CallOfDuty4)
                            @GameType.CallOfDuty4.DisplayName()</a>
                    </li>

                    <li class="@Html.IsSelected("Maps", "GameIndex", id: GameType.CallOfDuty5.ToString())">
                        <a asp-controller="Maps" asp-action="GameIndex"
                            asp-route-id="@GameType.CallOfDuty5">@Html.GameTypeIcon(GameType.CallOfDuty5)
                            @GameType.CallOfDuty5.DisplayName()</a>
                    </li>
                </ul>
            </li>
            <li policy="@AuthPolicies.AccessPlayers" class="@Html.IsSelected("Players", "Index") nav-item">
                <a href="#" class="nav-link">
                    <i class="fa fa-users fa-fw"></i> <span class="nav-label">Players</span> <span
                        class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse @Html.IsSelected("Players", cssClass: "show")">
                    <li class="@Html.IsSelected("Players", "Index")">
                        <a asp-controller="Players" asp-action="Index"><i class="fa fa-list fa-fw"></i> Global Player
                            Index</a>
                    </li>
                    <li class="@Html.IsSelected("Players", "ProtectedNames")">
                        <a asp-controller="Players" asp-action="ProtectedNames"><i class="fa fa-shield fa-fw"></i>
                            Protected Names</a>
                    </li>
                    <li class="@Html.IsSelected("Players", "Analytics")">
                        <a asp-controller="Players" asp-action="Analytics"><i class="fa fa-area-chart fa-fw"></i>
                            Analytics</a>
                    </li>

                    <li class="@Html.IsSelected("Players", "IpIndex")">
                        <a asp-controller="Players" asp-action="IpIndex"><i class="fa fa-search fa-fw"></i> IP
                            Search</a>
                    </li>

                    <li class="@Html.IsSelected("Players", "MyActions")">
                        <a asp-controller="Players" asp-action="MyActions"><i class="fa fa-check-square fa-fw"></i> My
                            Actions</a>
                    </li>

                    <li class="@Html.IsSelected("Players", "Unclaimed")">
                        <a asp-controller="Players" asp-action="Unclaimed"><i
                                class="fa fa-exclamation-circle fa-fw"></i> Unclaimed Bans</a>
                    </li>

                    @foreach (var game in new[]{ GameType.CallOfDuty2, GameType.CallOfDuty4, GameType.CallOfDuty5,
                                        GameType.Insurgency})
                    {
                        @if ((await AuthorizationService.AuthorizeAsync(User, game, AuthPolicies.ViewPlayers)).Succeeded)
                        {
                            <li class="@Html.IsSelected("Players", "GameIndex", id: game.ToString())">
                                <a asp-controller="Players" asp-action="GameIndex" asp-route-id="@game">@Html.GameTypeIcon(game)
                                    @game.DisplayName()</a>
                            </li>
                        }
                    }
                </ul>
            </li>
            <li policy="@AuthPolicies.AccessStatus" class="@Html.IsSelected("Status", "BanFileStatus") nav-item">
                <a href="#" class="nav-link">
                    <i class="fa fa-heartbeat fa-fw"></i> <span class="nav-label">Status</span><span
                        class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse @Html.IsSelected("Status", cssClass: "show")">
                    <li class="@Html.IsSelected("Status", "BanFileStatus")">
                        <a asp-controller="Status" asp-action="BanFileStatus"><i class="fa fa-ban fa-fw"></i> Ban File
                            Status</a>
                    </li>
                </ul>
            </li>
            <li policy="@AuthPolicies.AccessUsers" class="@Html.IsSelected("User", "Index") nav-item">
                <a href="#" class="nav-link">
                    <i class="fa fa-user fa-fw"></i> <span class="nav-label">Users</span><span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse @Html.IsSelected("User", cssClass: "show")">
                    <li class="@Html.IsSelected("User", "Index")">
                        <a asp-controller="User" asp-action="Index">
                            <i class="fa fa-users fa-fw"></i> <span class="nav-label">Manage Users</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected("User", "Permissions")">
                        <a asp-controller="User" asp-action="Permissions">
                            <i class="fa fa-lock fa-fw"></i> <span class="nav-label">Permissions</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li policy="@AuthPolicies.AccessChangeLog" class="@Html.IsSelected("ChangeLog", "Index")">
                <a asp-controller="ChangeLog" asp-action="Index">
                    <i class="fa fa-history fa-fw"></i> <span class="nav-label">Change Log</span>
                </a>
            </li>

            <li policy="@AuthPolicies.AccessGameServers" class="@Html.IsSelected("GameServers", "Index")">
                <a asp-controller="GameServers" asp-action="Index">
                    <i class="fa fa-gamepad fa-fw"></i> <span class="nav-label">Game Servers</span>
                </a>
            </li>

            <li policy="@AuthPolicies.AccessBanFileMonitors" class="@Html.IsSelected("BanFileMonitors", "Index")">
                <a asp-controller="BanFileMonitors" asp-action="Index">
                    <i class="fa fa-ban fa-fw"></i> <span class="nav-label">Ban File Monitors</span>
                </a>
            </li>

            <li policy="@AuthPolicies.AccessPlayerTags" class="@Html.IsSelected("Tags", "Index")">
                <a asp-controller="Tags" asp-action="Index">
                    <i class="fa fa-tags"></i> <span class="nav-label">Player Tags</span>
                </a>
            </li>

        </ul>
    </div>
</nav>