@inject IAuthorizationService AuthorizationService
@using XtremeIdiots.Portal.AdminWebApp.Auth.Constants
@using XtremeIdiots.Portal.AdminWebApp.Extensions
@using Microsoft.AspNetCore.Authorization
@using XtremeIdiots.Portal.AdminWebApp.ViewModels
@using XtremeIdiots.Portal.RepositoryApi.Abstractions.Constants
@model List<EditBanFileMonitorViewModel>

@{
    ViewData["Title"] = "Ban File Status";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="alert alert-primary" role="alert">
        <i class="fa fa-info-circle"></i> This confirms that the ban files on the game servers have been updated with the latest bans and any new bans have been imported.
    </div>

    <div class="alert alert-warning" role="alert">
        <i class="fa fa-warning"></i> This page is used for monitoring but at present does not alert. If there is an error displaying below then please contact Sitting-Duc.
    </div>

    <row class="row">
        <div class="col-12">

            <div class="container-fluid">
                <div class="ibox">
                    <div class="ibox-content">
                        <h2>Ban File Monitor Status</h2>

                        <hr/>

                        <p>
                            This feature is where the portal gets its bans data from the game servers and ensures the servers have the latest bans.
                            There is a process that runs every five minutes that will:
                            <ul>
                                <li>Import any new bans from the game servers placed through RCON</li>
                                <li>Update the remote ban file on the server if new bans have been added or imported</li>
                            </ul>
                        </p>

                        <p>
                            Additionally there is a process that runs every 10 minutes that:
                            <ul>
                                <li>Regenerates the ban file for each game including a static PBBans list and database bans</li>
                            </ul>
                        </p>

                        <hr/>

                        <h3>When stuff goes wrong</h3>
                        <p>
                            This is a pretty solid process and rarely fails in it's execution. The more common issue is the mod changing and this configuration not being updated.
                        </p>
                        <p>
                            If this page shows an error then contact Sitting-Duc for a resolution.
                        </p>

                        <hr/>

                        <h3>Conditions for this page showing an error:</h3>
                        <ul>
                            <li>The ban file has not been checked in 15 minutes.</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </row>

    @foreach (var item in Model)
    {
        <row class="row">
            <div class="col-12">

                <div class="container-fluid">
                    <div class="ibox">
                        <div class="ibox-title">
                            <span>
                                @Html.GameTypeIcon(item.GameServer.GameType) @Html.ServerName(item.GameServer.Title, null)
                            </span>
                        </div>
                        <div class="ibox-content">
                            <p>
                                @if ((await AuthorizationService.AuthorizeAsync(User, new Tuple<GameType, Guid>(item.GameServer.GameType, item.GameServer.GameServerId), AuthPolicies.ViewFtpCredential)).Succeeded)
                                {
                                    <strong>File Path: </strong>
                                    @Html.MonitorFtpPath(item.GameServer.FtpHostname, item.GameServer.FtpPort, item.FilePath, item.GameServer.FtpUsername, item.GameServer.FtpPassword)<br/>
                                }
                                else
                                {
                                    <strong>File Path: </strong>
                                    @Html.MonitorFtpPath(item.GameServer.FtpHostname, item.GameServer.FtpPort, item.FilePath)<br/>
                                }

                                <strong>Last Recorded Sync: </strong>@item.LastSync<br/>
                                <strong>Last Recorded Size: </strong>@item.RemoteFileSize<br/>

                                @if (item.LastSync < DateTime.UtcNow.AddMinutes(-15))
                                {
                                    <div class="alert alert-danger">Ban file monitor has not run in the past 30 minutes</div>
                                }
                                else
                                {
                                    <div class="alert alert-success">Everything looks OK, on the surface at least.</div>
                                }

                                <div class="btn-group btn-group-sm" role="group">
                                    @if ((await AuthorizationService.AuthorizeAsync(User, item.GameServer.GameType, AuthPolicies.EditGameServer)).Succeeded)
                                    {
                                        <a type="button" class="btn btn-primary" asp-controller="GameServers" asp-action="Edit" asp-route-id="@item.GameServer.GameServerId">
                                            <i class="fa fa-edit"></i> Edit Game Server
                                        </a>
                                    }

                                    @if ((await AuthorizationService.AuthorizeAsync(User, new Tuple<GameType, Guid>(item.GameServer.GameType, item.GameServer.GameServerId), AuthPolicies.EditBanFileMonitor)).Succeeded)
                                    {
                                        <a type="button" class="btn btn-primary" asp-controller="BanFileMonitors" asp-action="Edit" asp-route-id="@item.BanFileMonitorId">
                                            <i class="fa fa-edit"></i> Edit Ban File Monitor
                                        </a>
                                    }
                                </div>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </row>
    }

</div>