@using Microsoft.AspNetCore.Identity
@using XI.CommonTypes.Extensions
@using XI.Portal.Auth.Contract.Constants
@using XI.Portal.Auth.Contract.Extensions
@using XI.Portal.Auth.Contract.Models
@using XI.Portal.Demos.Constants
@using XI.Portal.Maps.Constants
@using XI.Portal.Players.Constants
@using XI.Portal.Servers.Constants
@using XI.Portal.Web.Extensions
@inject SignInManager<PortalIdentityUser> SignInManager
<nav class="navbar-default navbar-static-side" role="navigation">
<div class="sidebar-collapse">
<ul class="nav metismenu" id="side-menu">
<li class="nav-header">

    @if (SignInManager.IsSignedIn(User))
    {
        <div class="dropdown profile-element">
            <img src="@(User.PhotoUrl())" alt="Avatar" style="border-radius: 50%; max-height: 180px; max-width: 180px">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <span class="block m-t-xs font-bold">
                    @User.Identity.Name <b class="caret"></b>
                </span>
            </a>
            <ul class="dropdown-menu m-t-xs" style="left: 0px; position: absolute; top: 91px; will-change: top, left;">
                <li>
                    <a asp-controller="Profile" asp-action="Manage">Manage Profile</a>
                </li>
                <li>
                    <form class="form-inline" asp-controller="Identity" asp-action="Logout" method="post">
                        <button class="dropdown-item" type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    }
    else
    {
        <div class="dropdown profile-element">
            <form class="form-inline" asp-controller="Identity" asp-action="LoginWithXtremeIdiots" method="post">
                <button type="submit" class="btn btn-primary">XtremeIdiots Login</button>
            </form>
        </div>
    }

    <div class="logo-element">
        &gt;XI&lt;
    </div>
</li>

<li class="@Html.IsSelected("Home", "Index")">
    <a asp-controller="Home" asp-action="Index">
        <i class="fa fa-home"></i> <span class="nav-label">Home</span>
    </a>
</li>

<li class="@Html.IsSelected("Servers")">
    <a asp-controller="Servers" asp-action="Index">
        <i class="fa fa-server"></i> <span class="nav-label">Servers</span> <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level collapse @Html.IsSelected("Servers", cssClass: "in")">
        <li class="@Html.IsSelected(action: "Index")">
            <a asp-controller="Servers" asp-action="Index">Game Servers</a>
        </li>
    </ul>
</li>

<li policy="@XtremeIdiotsPolicy.AccessCredentials" class="@Html.IsSelected("Credentials", "Index")">
    <a asp-controller="Credentials" asp-action="Index">
        <i class="fa fa-key"></i> <span class="nav-label">Credentials</span>
    </a>
</li>

<li policy="@XtremeIdiotsPolicy.CanAccessServerAdmin" class="@Html.IsSelected("ServerAdmin")">
    <a asp-controller="ServerAdmin" asp-action="Index">
        <i class="fa fa-terminal"></i> <span class="nav-label">Server Admin</span> <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level collapse @Html.IsSelected("ServerAdmin", cssClass: "in")">
        <li policy="@XtremeIdiotsPolicy.CanAccessLiveRcon" class="@Html.IsSelected("ServerAdmin", "Index")">
            <a asp-controller="ServerAdmin" asp-action="Index">Servers</a>
        </li>

        <li policy="@XtremeIdiotsPolicy.CanAccessGlobalChatLog" class="@Html.IsSelected("ServerAdmin", "GlobalChatLog")">
            <a asp-controller="ServerAdmin" asp-action="ChatLogIndex">Global ChatLog</a>
        </li>

        @foreach (var game in ChatLogSupportedGames.Games)
        {
            @if (User.HasClaim(claim => claim.Type == XtremeIdiotsClaimTypes.SeniorAdmin || claim.Value == game.ToString()))
            {
                <li class="@Html.IsSelected(action: "GameChatLog", id: game.ToString())">
                    <a asp-controller="ServerAdmin" asp-action="GameChatLog" asp-route-id="@game">@Html.GameTypeIcon(game) @game.ShortDisplayName() ChatLog</a>
                </li>
            }
        }
    </ul>
</li>

@if (SignInManager.IsSignedIn(User))
{
    <li class="@Html.IsSelected("Demos")">
        <a asp-controller="Demos" asp-action="Index">
            <i class="fa fa-camera"></i> <span class="nav-label">Demo Manager</span> <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level collapse @Html.IsSelected("Demos", cssClass: "in")">
            <li class="@Html.IsSelected("Demos", "Index")">
                <a asp-controller="Demos" asp-action="Index">Demos Index</a>
            </li>

            @foreach (var game in DemosSupportedGames.Games)
            {
                <li class="@Html.IsSelected(action: "GameDemos", id: game.ToString())">
                    <a asp-controller="Demos" asp-action="GameIndex" asp-route-id="@game">@Html.GameTypeIcon(game) @game.DisplayName()</a>
                </li>
            }

        </ul>
    </li>
}

<li class="@Html.IsSelected("Maps")">
    <a asp-controller="Maps" asp-action="Index">
        <i class="fa fa-map"></i> <span class="nav-label">Maps</span> <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level collapse @Html.IsSelected("Maps", cssClass: "in")">
        <li class="@Html.IsSelected("Maps", "Index")">
            <a asp-controller="Maps" asp-action="Index">Maps Index</a>
        </li>

        @foreach (var game in MapsSupportedGames.Games)
        {
            <li class="@Html.IsSelected(action: "GameIndex", id: game.ToString())">
                <a asp-controller="Maps" asp-action="GameIndex" asp-route-id="@game">@Html.GameTypeIcon(game) @game.DisplayName()</a>
            </li>
        }

    </ul>
</li>

@*<li class="@Html.IsSelected("Analytics")">
                <a asp-controller="Analytics">
                    <i class="fa fa-line-chart"></i> <span class="nav-label">Analytics</span> <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse @Html.IsSelected("Analytics", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Index")">
                        <a asp-controller="Analytics" asp-action="Index">High-Level</a>
                    </li>
                </ul>
            </li>*@

<li policy="@XtremeIdiotsPolicy.PlayersManagement" class="@Html.IsSelected("Players")">
    <a asp-controller="Players" asp-action="Index">
        <i class="fa fa-users"></i> <span class="nav-label">Players</span> <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level collapse @Html.IsSelected("Players", cssClass: "in")">
        <li class="@Html.IsSelected(action: "Index")">
            <a asp-controller="Players" asp-action="Index">Global Player Index</a>
        </li>

        <li class="@Html.IsSelected(action: "IpIndex")">
            <a asp-controller="Players" asp-action="IpIndex">IP Search</a>
        </li>

        <li class="@Html.IsSelected(action: "MyActions")">
            <a asp-controller="Players" asp-action="MyActions">My Actions</a>
        </li>

        <li class="@Html.IsSelected(action: "Unclaimed")">
            <a asp-controller="Players" asp-action="Unclaimed">Unclaimed Bans</a>
        </li>

        @foreach (var game in PlayersSupportedGames.Games)
        {
            @if (User.HasClaim(claim => claim.Type == XtremeIdiotsClaimTypes.SeniorAdmin || claim.Value == game.ToString()))
            {
                <li class="@Html.IsSelected(action: "GameIndex", id: game.ToString())">
                    <a asp-controller="Players" asp-action="GameIndex" asp-route-id="@game">@Html.GameTypeIcon(game) @game.DisplayName()</a>
                </li>
            }
        }

    </ul>
</li>

<li policy="@XtremeIdiotsPolicy.ViewServiceStatus" class="@Html.IsSelected("Status")">
    <a asp-controller="Status" asp-action="GameServerStatus">
        <i class="fa fa-desktop"></i> <span class="nav-label">Status</span><span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level collapse @Html.IsSelected("Status", cssClass: "in")">
        <li class="@Html.IsSelected(action: "GameServerStatus")">
            <a asp-controller="Status" asp-action="GameServerStatus">Game Server Status</a>
        </li>
        <li class="@Html.IsSelected(action: "BanFileStatus")">
            <a asp-controller="Status" asp-action="BanFileStatus">Ban File Status</a>
        </li>
        <li class="@Html.IsSelected(action: "LogFileStatus")">
            <a asp-controller="Status" asp-action="LogFileStatus">Log File Status</a>
        </li>
        <li class="@Html.IsSelected(action: "RconStatus")">
            <a asp-controller="Status" asp-action="RconStatus">Rcon Status</a>
        </li>
    </ul>
</li>

<li policy="@XtremeIdiotsPolicy.ServersManagement" class="@Html.IsSelected("GameServers", "Index")">
    <a asp-controller="GameServers" asp-action="Index">
        <i class="fa fa-cog"></i> <span class="nav-label">Game Servers</span>
    </a>
</li>

<li policy="@XtremeIdiotsPolicy.ServersManagement" class="@Html.IsSelected("RconMonitors", "Index")">
    <a asp-controller="RconMonitors" asp-action="Index">
        <i class="fa fa-cog"></i> <span class="nav-label">Rcon Monitors</span>
    </a>
</li>

<li policy="@XtremeIdiotsPolicy.AccessFileMonitors" class="@Html.IsSelected("FileMonitors", "Index")">
    <a asp-controller="FileMonitors" asp-action="Index">
        <i class="fa fa-cog"></i> <span class="nav-label">File Monitors</span>
    </a>
</li>

<li policy="@XtremeIdiotsPolicy.AccessBanFileMonitors" class="@Html.IsSelected("BanFileMonitors", "Index")">
    <a asp-controller="BanFileMonitors" asp-action="Index">
        <i class="fa fa-cog"></i> <span class="nav-label">Ban File Monitors</span>
    </a>
</li>

<li policy="@XtremeIdiotsPolicy.RootPolicy" class="@Html.IsSelected("Users", "Index")">
    <a asp-controller="User" asp-action="Index">
        <i class="fa fa-user"></i> <span class="nav-label">Manage Users</span>
    </a>
</li>

<li policy="@XtremeIdiotsPolicy.RootPolicy" class="@Html.IsSelected("Migration")">
    <a asp-controller="Migration" asp-action="ProcessMigrateUsers">
        <i class="fa fa-arrow-right"></i> <span class="nav-label">Migration</span> <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level collapse @Html.IsSelected("Migration", cssClass: "in")">
        <li class="@Html.IsSelected(action: "GameServerStatus")">
            <a asp-controller="Migration" asp-action="MigrateUsers">Legacy Users</a>
        </li>
        <li class="@Html.IsSelected(action: "BanFileStatus")">
            <a asp-controller="Migration" asp-action="MigrateDemoAuthKeys">Demo Auth Keys</a>
        </li>
    </ul>
</li>
</ul>
</div>
</nav>