@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using XI.CommonTypes.Extensions
@using XI.Portal.Auth.Contract.Constants
@using XI.Portal.Auth.Contract.Extensions
@using XI.Portal.Auth.Contract.Models
@using XI.Portal.Demos.Constants
@using XI.Portal.Maps.Constants
@using XI.Portal.Players.Constants
@using XI.Portal.Servers.Constants
@using XI.Portal.Web.Extensions
@inject IAuthorizationService AuthorizationService
@inject SignInManager<PortalIdentityUser> SignInManager
<nav class="navbar-default navbar-static-side" role="navigation">
<div class="sidebar-collapse">
<ul class="nav metismenu" id="side-menu">
<li class="nav-header">

    @if (SignInManager.IsSignedIn(User))
    {
        <div class="dropdown profile-element">
            <img src="@(User.PhotoUrl())" alt="Avatar" style="border-radius: 50%; max-height: 180px; max-width: 180px">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <span class="block m-t-xs font-bold">
                    @User.Identity.Name <b class="caret"></b>
                </span>
            </a>
            <ul class="dropdown-menu m-t-xs" style="left: 0; position: absolute; top: 91px; will-change: top, left;">
                <li>
                    <a asp-controller="Profile" asp-action="Manage">Manage Profile</a>
                </li>
                <li>
                    <form class="form-inline" asp-controller="Identity" asp-action="Logout" method="post">
                        <button class="dropdown-item" type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    }
    else
    {
        <div class="dropdown profile-element">
            <form class="form-inline" asp-controller="Identity" asp-action="LoginWithXtremeIdiots" method="post">
                <button type="submit" class="btn btn-primary">XtremeIdiots Login</button>
            </form>
        </div>
    }

    <div class="logo-element">
        &gt;XI&lt;
    </div>
</li>

<li policy="@AuthPolicies.AccessHome" class="@Html.IsSelected("Home", "Index")">
    <a asp-controller="Home" asp-action="Index">
        <i class="fa fa-home"></i> <span class="nav-label">Home</span>
    </a>
</li>

<li policy="@AuthPolicies.AccessServers" class="@Html.IsSelected("Servers")">
    <a asp-controller="Servers" asp-action="Index">
        <i class="fa fa-server"></i> <span class="nav-label">Servers</span> <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level collapse @Html.IsSelected("Servers", cssClass: "in")">
        <li class="@Html.IsSelected(action: "Index")">
            <a asp-controller="Servers" asp-action="Index">Game Servers</a>
        </li>

        <li class="@Html.IsSelected(action: "Map")">
            <a asp-controller="Servers" asp-action="Map">Player Map</a>
        </li>
    </ul>
</li>

<li policy="@AuthPolicies.AccessCredentials" class="@Html.IsSelected("Credentials", "Index")">
    <a asp-controller="Credentials" asp-action="Index">
        <i class="fa fa-key"></i> <span class="nav-label">Credentials</span>
    </a>
</li>

<li policy="@AuthPolicies.AccessServerAdmin" class="@Html.IsSelected("ServerAdmin")">
    <a asp-controller="ServerAdmin" asp-action="Index">
        <i class="fa fa-terminal"></i> <span class="nav-label">Server Admin</span> <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level collapse @Html.IsSelected("ServerAdmin", cssClass: "in")">
        <li class="@Html.IsSelected("ServerAdmin", "Index")">
            <a asp-controller="ServerAdmin" asp-action="Index">Servers</a>
        </li>

        <li policy="@AuthPolicies.ViewGlobalChatLog" class="@Html.IsSelected("ServerAdmin", "ChatLogIndex")">
            <a asp-controller="ServerAdmin" asp-action="ChatLogIndex">Global ChatLog</a>
        </li>

        @foreach (var game in ChatLogSupportedGames.Games)
        {
            @if ((await AuthorizationService.AuthorizeAsync(User, game, AuthPolicies.ViewGameChatLog)).Succeeded)
            {
                <li class="@Html.IsSelected(action: "GameChatLog", id: game.ToString())">
                    <a asp-controller="ServerAdmin" asp-action="GameChatLog" asp-route-id="@game">@Html.GameTypeIcon(game) @game.ShortDisplayName() ChatLog</a>
                </li>
            }
        }
    </ul>
</li>

<li policy="@AuthPolicies.AccessDemos" class="@Html.IsSelected("Demos")">
    <a asp-controller="Demos" asp-action="Index">
        <i class="fa fa-camera"></i> <span class="nav-label">Demo Manager</span> <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level collapse @Html.IsSelected("Demos", cssClass: "in")">
        <li class="@Html.IsSelected("Demos", "DemoClient")">
            <a asp-controller="Demos" asp-action="DemoClient">Demo Client</a>
        </li>

        <li class="@Html.IsSelected("Demos", "Index")">
            <a asp-controller="Demos" asp-action="Index">Demos Index</a>
        </li>

        @foreach (var game in DemosSupportedGames.Games)
        {
            <li class="@Html.IsSelected(action: "GameIndex", id: game.ToString())">
                <a asp-controller="Demos" asp-action="GameIndex" asp-route-id="@game">@Html.GameTypeIcon(game) @game.DisplayName()</a>
            </li>
        }

    </ul>
</li>

<li policy="@AuthPolicies.AccessMaps" class="@Html.IsSelected("Maps")">
    <a asp-controller="Maps" asp-action="Index">
        <i class="fa fa-map"></i> <span class="nav-label">Maps</span> <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level collapse @Html.IsSelected("Maps", cssClass: "in")">
        <li class="@Html.IsSelected("Maps", "Index")">
            <a asp-controller="Maps" asp-action="Index">Maps Index</a>
        </li>

        @foreach (var game in MapsSupportedGames.Games)
        {
            <li class="@Html.IsSelected(action: "GameIndex", id: game.ToString())">
                <a asp-controller="Maps" asp-action="GameIndex" asp-route-id="@game">@Html.GameTypeIcon(game) @game.DisplayName()</a>
            </li>
        }

    </ul>
</li>

<li policy="@AuthPolicies.AccessPlayers" class="@Html.IsSelected("Players")">
    <a asp-controller="Players" asp-action="Index">
        <i class="fa fa-users"></i> <span class="nav-label">Players</span> <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level collapse @Html.IsSelected("Players", cssClass: "in")">
        <li class="@Html.IsSelected(action: "Index")">
            <a asp-controller="Players" asp-action="Index">Global Player Index</a>
        </li>

        <li class="@Html.IsSelected(action: "Analytics")">
            <a asp-controller="Players" asp-action="Analytics">Analytics</a>
        </li>

        <li class="@Html.IsSelected(action: "IpIndex")">
            <a asp-controller="Players" asp-action="IpIndex">IP Search</a>
        </li>

        <li class="@Html.IsSelected(action: "MyActions")">
            <a asp-controller="Players" asp-action="MyActions">My Actions</a>
        </li>

        <li class="@Html.IsSelected(action: "Unclaimed")">
            <a asp-controller="Players" asp-action="Unclaimed">Unclaimed Bans</a>
        </li>

        @foreach (var game in PlayersSupportedGames.Games)
        {
            @if ((await AuthorizationService.AuthorizeAsync(User, game, AuthPolicies.ViewPlayers)).Succeeded)
            {
                <li class="@Html.IsSelected(action: "GameIndex", id: game.ToString())">
                    <a asp-controller="Players" asp-action="GameIndex" asp-route-id="@game">@Html.GameTypeIcon(game) @game.DisplayName()</a>
                </li>
            }
        }
    </ul>
</li>

<li policy="@AuthPolicies.AccessStatus" class="@Html.IsSelected("Status")">
    <a asp-controller="Status" asp-action="GameServerStatus">
        <i class="fa fa-desktop"></i> <span class="nav-label">Status</span><span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level collapse @Html.IsSelected("Status", cssClass: "in")">
        <li class="@Html.IsSelected(action: "GameServerStatus")">
            <a asp-controller="Status" asp-action="GameServerStatus">Game Server Status</a>
        </li>
        <li class="@Html.IsSelected(action: "BanFileStatus")">
            <a asp-controller="Status" asp-action="BanFileStatus">Ban File Status</a>
        </li>
        <li class="@Html.IsSelected(action: "LogFileStatus")">
            <a asp-controller="Status" asp-action="LogFileStatus">Log File Status</a>
        </li>
    </ul>
</li>

<li policy="@AuthPolicies.AccessUsers" class="@Html.IsSelected("User", "Index")">
    <a asp-controller="User" asp-action="Index">
        <i class="fa fa-user"></i> <span class="nav-label">Users</span><span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level collapse @Html.IsSelected("User", cssClass: "in")">
        <li class="@Html.IsSelected(action: "Index")">
            <a asp-controller="User" asp-action="Index">
                <span class="nav-label">Manage Users</span>
            </a>
        </li>
        <li class="@Html.IsSelected(action: "Permissions")">
            <a asp-controller="User" asp-action="Permissions">
                <span class="nav-label">Permissions</span>
            </a>
        </li>
    </ul>
</li>

<li policy="@AuthPolicies.AccessChangeLog" class="@Html.IsSelected("ChangeLog", "Index")">
    <a asp-controller="ChangeLog" asp-action="Index">
        <i class="fa fa-clipboard"></i> <span class="nav-label">Change Log</span>
    </a>
</li>

<li policy="@AuthPolicies.AccessGameServers" class="@Html.IsSelected("GameServers", "Index")">
    <a asp-controller="GameServers" asp-action="Index">
        <i class="fa fa-cog"></i> <span class="nav-label">Game Servers</span>
    </a>
</li>

<li policy="@AuthPolicies.AccessFileMonitors" class="@Html.IsSelected("FileMonitors", "Index")">
    <a asp-controller="FileMonitors" asp-action="Index">
        <i class="fa fa-cog"></i> <span class="nav-label">File Monitors</span>
    </a>
</li>

<li policy="@AuthPolicies.AccessBanFileMonitors" class="@Html.IsSelected("BanFileMonitors", "Index")">
    <a asp-controller="BanFileMonitors" asp-action="Index">
        <i class="fa fa-cog"></i> <span class="nav-label">Ban File Monitors</span>
    </a>
</li>

<li policy="@AuthPolicies.AccessMigration" class="@Html.IsSelected("Migration")">
    <a asp-controller="Migration" asp-action="MigrateUsers">
        <i class="fa fa-arrow-right"></i> <span class="nav-label">Migration</span> <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level collapse @Html.IsSelected("Migration", cssClass: "in")">
        <li class="@Html.IsSelected(action: "MigrateUsers")">
            <a asp-controller="Migration" asp-action="MigrateUsers">Legacy Users</a>
        </li>
        <li class="@Html.IsSelected(action: "MigrateDemoAuthKeys")">
            <a asp-controller="Migration" asp-action="MigrateDemoAuthKeys">Demo Auth Keys</a>
        </li>
    </ul>
</li>
</ul>
</div>
</nav>