@inject IAuthorizationService AuthorizationService
@using Microsoft.AspNetCore.Authorization
@using XI.Portal.Auth.Contract.Constants
@using XI.Portal.Web.Extensions
@model IEnumerable<XI.Portal.Data.Legacy.Models.GameServers>

@{
    ViewData["Title"] = "Game Server Credentials";
}

@{
    var showRconColumn = User.Claims.Any(claim => claim.Type == XtremeIdiotsClaimTypes.SeniorAdmin ||
                                                  claim.Type == XtremeIdiotsClaimTypes.HeadAdmin ||
                                                  claim.Type == XtremeIdiotsClaimTypes.GameAdmin ||
                                                  claim.Type == PortalClaimTypes.RconCredentials);

    var showFtpColumns = User.Claims.Any(claim => claim.Type == XtremeIdiotsClaimTypes.SeniorAdmin ||
                                                  claim.Type == PortalClaimTypes.FtpCredentials);
}

<div class="wrapper wrapper-content animated fadeInRight">

    <row class="row">
        <div class="col-12">

            <div class="container-fluid">
                <div class="ibox">
                    <div class="ibox-content">
                        <table class="table table-responsive w-100 d-block d-md-table">
                            <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameType)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Hostname)
                                </th>

                                @if (showRconColumn)
                                {
                                    <th>
                                        @Html.DisplayNameFor(model => model.RconPassword)
                                    </th>
                                }

                                @if (showFtpColumns)
                                {
                                    <th>
                                        @Html.DisplayNameFor(model => model.FtpHostname)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FtpUsername)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FtpPassword)
                                    </th>
                                }

                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.GameTypeIcon(item.GameType)
                                    </td>
                                    <td>
                                        @Html.ServerName(item.Title, item.LiveTitle)
                                    </td>
                                    <td>
                                        @Html.ServerHostAndPort(item.Hostname, item.QueryPort)
                                    </td>

                                    @if (showRconColumn)
                                    {
                                        var canViewRconDetails = User.Claims.Any(claim => claim.Type == XtremeIdiotsClaimTypes.SeniorAdmin ||
                                                                                          claim.Type == XtremeIdiotsClaimTypes.HeadAdmin && claim.Value == item.GameType.ToString() ||
                                                                                          claim.Type == XtremeIdiotsClaimTypes.GameAdmin && claim.Value == item.GameType.ToString() ||
                                                                                          claim.Type == PortalClaimTypes.RconCredentials && claim.Value == item.ServerId.ToString());


                                        @if (canViewRconDetails && !string.IsNullOrWhiteSpace(item.RconPassword))
                                        {
                                            <td>
                                                <span id="rconPassword-@item.ServerId-dummy">
                                                    *******
                                                    <i class="fa fa-eye"></i>
                                                </span>
                                                <span id="rconPassword-@item.ServerId" style="display: none">@item.RconPassword</span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    }

                                    @if (showFtpColumns)
                                    {
                                        var canViewFtpDetails = User.Claims.Any(claim => claim.Type == XtremeIdiotsClaimTypes.SeniorAdmin ||
                                                                                         claim.Type == PortalClaimTypes.FtpCredentials && claim.Value == item.ServerId.ToString());


                                        @if (canViewFtpDetails)
                                        {
                                            <td>
                                                <span>@item.FtpHostname</span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }

                                        @if (canViewFtpDetails && !string.IsNullOrWhiteSpace(item.FtpUsername))
                                        {
                                            <td>
                                                <span id="ftpUsername-@item.ServerId-dummy">
                                                    *******
                                                    <i class="fa fa-eye"></i>
                                                </span>
                                                <span id="ftpUsername-@item.ServerId" style="display: none">@item.FtpUsername</span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }

                                        @if (canViewFtpDetails && !string.IsNullOrWhiteSpace(item.FtpPassword))
                                        {
                                            <td>
                                                <span id="ftpPassword-@item.ServerId-dummy">
                                                    *******
                                                    <i class="fa fa-eye"></i>
                                                </span>
                                                <span id="ftpPassword-@item.ServerId" style="display: none">@item.FtpPassword</span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    }
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                    <div class="ibox-footer">

                    </div>
                </div>
            </div>

        </div>
    </row>

</div>

@* ReSharper disable once Razor.SectionNotResolved *@

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function() {
            @foreach (var item in Model)
            {
                <text>
                    $("#rconPassword-@item.ServerId-dummy").click(function() {
                        $("#rconPassword-@item.ServerId-dummy").hide();
                        $("#rconPassword-@item.ServerId").show();
                    });

                    $("#ftpUsername-@item.ServerId-dummy").click(function() {
                        $("#ftpUsername-@item.ServerId-dummy").hide();
                        $("#ftpUsername-@item.ServerId").show();
                    });

                    $("#ftpPassword-@item.ServerId-dummy").click(function() {
                        $("#ftpPassword-@item.ServerId-dummy").hide();
                        $("#ftpPassword-@item.ServerId").show();
                    });
                </text>
            }
        })
    </script>

}