@using XI.Portal.Web.Extensions
@model IEnumerable<XI.Portal.Data.Legacy.Models.GameServers>

@{
    ViewData["Title"] = "Game Server Credentials";
}

<row class="row">
    <div class="container-fluid">
        <div class="card card-header">
            @ViewData["Title"]
        </div>
        <div class="card card-body">
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.GameType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Hostname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RconPassword)
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.GameTypeIcon(item.GameType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.ServerHostAndPort(item.Hostname, item.QueryPort)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RconPassword)
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="card card-footer">

        </div>
    </div>
</row>