@inject IAuthorizationService AuthorizationService
@using Microsoft.AspNetCore.Authorization
@using XtremeIdiots.Portal.AdminWebApp.Auth.Constants
@using XtremeIdiots.Portal.AdminWebApp.Extensions
@using XtremeIdiots.Portal.AdminWebApp.Models
@using XtremeIdiots.Portal.AdminWebApp.ViewModels
@using XtremeIdiots.Portal.RepositoryApi.Abstractions.Constants
@using XtremeIdiots.Portal.RepositoryApi.Abstractions.Models
@model PlayerDetailsViewModel

@{
    ViewData["Title"] = Model?.Player?.Username + " Player Details";
}

<div class="wrapper wrapper-content animated fadeInRight">

<div class="row">

    <div class="col-sm-4">
        <div class="ibox">
            <div class="ibox-content">

                <span class="text-muted pull-right">
                    @Html.GameTypeIcon(Model.Player.GameType)
                </span>

                <div id="player" class="tab-pane active">
                    <div class="row m-b-lg" style="margin-left: 5px">
                        <div class="text-center">
                            <h2>@Model.Player.Username</h2>
                        </div>
                    </div>

                    <div>
                        <ul class="list-group clear-list">
                            <li class="list-group-item fist-item">
                                <span class="pull-right"> @Model.Player.PlayerId</span>
                                Player ID
                            </li>
                            <li class="list-group-item">
                                <span class="pull-right"> @Model.Player.Username</span>
                                Alias
                            </li>

                            @if (Model.GeoLocation != null)
                            {                                  <li class="list-group-item">                                    
                                    <span class="pull-right ip-address-container" 
                                          data-ip="@Model.Player.IpAddress" 
                                          data-risk="@Model.Player.ProxyCheckRiskScore()" 
                                          data-is-proxy="@Model.Player.IsProxy().ToString().ToLower()" 
                                          data-is-vpn="@Model.Player.IsVpn().ToString().ToLower()"
                                          data-type="@Model.Player.ProxyType()"
                                          data-country-code="@(Model.GeoLocation?.CountryCode ?? "")">                                        @Model.Player.IpAddress.FormatIPAddress(
                                            Model.GeoLocation,
                                            Model.Player.ProxyCheckRiskScore(),
                                            Model.Player.IsProxy(),
                                            Model.Player.IsVpn(),
                                            Model.Player.ProxyType())
                                    </span>
                                    IP Address
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> @Model.GeoLocation?.LocationSummary()</span>
                                    Country/City
                                </li>
                            }

                            <li class="list-group-item">
                                <span class="pull-right"> @Html.GuidLink(Model.Player.Guid, Model.Player.GameType.ToString())</span>
                                GUID
                            </li>
                            <li class="list-group-item">
                                <span class="pull-right">
                                    <i class="fa fa-clock-o"></i> @Html.ToUserTime(User, Model.Player.LastSeen)
                                </span>
                                Last Seen
                            </li>
                        </ul>

                        <div style="padding-bottom: 10px; padding-top: 20px">
                            <div>
                                <ul>
                                    @if ((await AuthorizationService.AuthorizeAsync(User, new Tuple<GameType, AdminActionType>(Model.Player.GameType, AdminActionType.Observation), AuthPolicies.CreateAdminAction)).Succeeded)
                                    {
                                        <li>
                                            <a asp-controller="AdminAction" asp-action="Create" asp-route-id="@Model.Player.PlayerId" asp-route-adminActionType="Observation">Add Observation</a>
                                        </li>
                                    }

                                    @if ((await AuthorizationService.AuthorizeAsync(User,new Tuple<GameType, AdminActionType>(Model.Player.GameType, AdminActionType.Warning), AuthPolicies.CreateAdminAction)).Succeeded)
                                    {
                                        <li>
                                            <a asp-controller="AdminAction" asp-action="Create" asp-route-id="@Model.Player.PlayerId" asp-route-adminActionType="Warning">Add Warning</a>
                                        </li>
                                    }

                                    @if ((await AuthorizationService.AuthorizeAsync(User, new Tuple<GameType, AdminActionType>(Model.Player.GameType, AdminActionType.Kick), AuthPolicies.CreateAdminAction)).Succeeded)
                                    {
                                        <li>
                                            <a asp-controller="AdminAction" asp-action="Create" asp-route-id="@Model.Player.PlayerId" asp-route-adminActionType="Kick">Add Kick</a>
                                        </li>
                                    }

                                    @if ((await AuthorizationService.AuthorizeAsync(User, new Tuple<GameType, AdminActionType>(Model.Player.GameType, AdminActionType.TempBan), AuthPolicies.CreateAdminAction)).Succeeded)
                                    {
                                        <li>
                                            <a asp-controller="AdminAction" asp-action="Create" asp-route-id="@Model.Player.PlayerId" asp-route-adminActionType="TempBan">Add Temp Ban</a>
                                        </li>
                                    }

                                    @if ((await AuthorizationService.AuthorizeAsync(User, new Tuple<GameType, AdminActionType>(Model.Player.GameType, AdminActionType.Ban), AuthPolicies.CreateAdminAction)).Succeeded)
                                    {
                                        <li>
                                            <a asp-controller="AdminAction" asp-action="Create" asp-route-id="@Model.Player.PlayerId" asp-route-adminActionType="Ban">Add Ban</a>
                                        </li>
                                    }
                                      <li>
                                        <a asp-controller="Players" asp-action="AddProtectedName" asp-route-id="@Model.Player.PlayerId">Add Protected Name</a>
                                    </li>
                                    
                                    @if ((await AuthorizationService.AuthorizeAsync(User, AuthPolicies.CreatePlayerTag)).Succeeded)
                                    {
                                        <li>
                                            <a asp-controller="Players" asp-action="AddPlayerTag" asp-route-id="@Model.Player.PlayerId">Add Tag</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-sm-8">
        <div class="ibox ">
            <div class="ibox-content">

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#location">Location</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#aliases">Aliases</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#ipAddresses">IP Addresses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#protectedNames">Protected Names</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#playerTags">Tags</a>
                    </li>
                    @if (!string.IsNullOrWhiteSpace(Model.Player.IpAddress))
                    {
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#relatedPlayers">Related Players</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#chatLog">ChatLog</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="ibox-content tab-pane container active" style="height: 100%" id="location">
                        <div id="map" style="height: 450px; width: 100%;"></div>
                        <a target="_blank" href="https://www.geo-location.net/">Powered by geo-location.net</a>
                    </div>

                    <div class="ibox-content tab-pane container fade" style="height: 100%" id="aliases">
                        <table class="table table-borderless" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Added
                                    </th>
                                    <th>
                                        Last Used
                                    </th>
                                    <th data-toggle="tooltip" data-placement="bottom" title="Confidence is determined by the amount of times that the Alias has been linked to the GUID">
                                        Confidence
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var aliasDto in Model.Player.PlayerAliases)
                                {
                                <tr>
                                    <td>@aliasDto.Name</td>
                                    <td>@Html.ToUserTime(User, aliasDto.Added)</td>
                                    <td>@Html.ToUserTime(User, aliasDto.LastUsed)</td>
                                    <td>@Html.ToConfidenceLabel(aliasDto.ConfidenceScore, aliasDto.LastUsed)</td>
                                </tr> 
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="ibox-content tab-pane container fade" style="height: 100%" id="ipAddresses">
                        <table class="table table-borderless" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>
                                        Address
                                    </th>
                                    <th>
                                        Added
                                    </th>
                                    <th>
                                        Last Used
                                    </th>
                                    <th data-toggle="tooltip" data-placement="bottom" title="Confidence is determined by the amount of times that the IP Address has been linked to the GUID">
                                        Confidence
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var ipAddressDto in Model.Player.PlayerIpAddresses)
                                {                                <tr>                                        <td class="ip-address-container" 
                                      data-ip="@ipAddressDto.Address" 
                                      data-risk="@Model.Player.ProxyCheckRiskScore()" 
                                      data-is-proxy="@Model.Player.IsProxy().ToString().ToLower()" 
                                      data-is-vpn="@Model.Player.IsVpn().ToString().ToLower()"
                                      data-type="@Model.Player.ProxyType()"
                                      data-country-code="@(ipAddressDto.Address == Model.Player.IpAddress && Model.GeoLocation != null ? Model.GeoLocation.CountryCode : "unknown")">
                                        <!-- This initial rendering will be replaced by JavaScript -->
                                        <img src="/images/flags/@(ipAddressDto.Address == Model.Player.IpAddress && Model.GeoLocation != null && !string.IsNullOrEmpty(Model.GeoLocation.CountryCode) ? Model.GeoLocation.CountryCode.ToLower() : "unknown").png" /> @ipAddressDto.Address
                                    </td>
                                    <td>@Html.ToUserTime(User, ipAddressDto.Added)</td>
                                    <td>@Html.ToUserTime(User, ipAddressDto.LastUsed)</td>
                                    <td>@Html.ToConfidenceLabel(ipAddressDto.ConfidenceScore, ipAddressDto.LastUsed)</td>
                                </tr> 
                                }
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="ibox-content tab-pane container fade" style="height: 100%" id="protectedNames">
                        @if (Model.Player.ProtectedNames != null && Model.Player.ProtectedNames.Any())
                        {
                            <table class="table table-borderless" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Created</th>
                                        <th>Created By</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var protectedName in Model.Player.ProtectedNames)
                                    {
                                        <tr>
                                            <td>@protectedName.Name</td>
                                            <td>@Html.ToUserTime(User, protectedName.CreatedOn)</td>
                                            <td>@protectedName.CreatedByUserProfile?.DisplayName</td>
                                            <td>
                                                <a asp-controller="Players" asp-action="ProtectedNameReport" asp-route-id="@protectedName.ProtectedNameId" class="btn btn-info btn-sm">
                                                    <i class="fa fa-file-text"></i> Usage Report
                                                </a>
                                                <a asp-controller="Players" asp-action="DeleteProtectedName" asp-route-id="@protectedName.ProtectedNameId" class="btn btn-danger btn-sm"
                                                   onclick="return confirm('Are you sure you want to delete this protected name?');">
                                                    <i class="fa fa-trash"></i> Delete
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            
                            <p>
                                <a asp-controller="Players" asp-action="AddProtectedName" asp-route-id="@Model.Player.PlayerId" class="btn btn-primary">
                                    <i class="fa fa-plus"></i> Add Another Protected Name
                                </a>
                            </p>
                        }
                        else
                        {
                            <div class="alert alert-info">
                                This player has no protected names.
                            </div>
                            
                            <p>
                                <a asp-controller="Players" asp-action="AddProtectedName" asp-route-id="@Model.Player.PlayerId" class="btn btn-primary">
                                    <i class="fa fa-plus"></i> Add Protected Name
                                </a>
                            </p>
                        }
                    </div>                    
                    <div class="ibox-content tab-pane container fade" style="height: 100%" id="playerTags">
                        @if(Model.Player.Tags != null && Model.Player.Tags.Any())
                        {
                            @await Component.InvokeAsync("PlayerTags", new { playerId = Model.Player.PlayerId })
                        }
                        else
                        {
                            <div class="alert alert-info">
                                This player has no tags.
                            </div>
                            
                            <p>
                                <a asp-controller="Players" asp-action="AddPlayerTag" asp-route-id="@Model.Player.PlayerId" class="btn btn-primary">
                                    <i class="fa fa-plus"></i> Add Tag
                                </a>
                            </p>
                        }
                    </div>

                    @if (!string.IsNullOrWhiteSpace(Model.Player.IpAddress))
                    {
                        <div class="ibox-content tab-pane container fade" style="height: 100%" id="relatedPlayers">
                            <table class="table table-borderless" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>
                                            Player Name
                                        </th>
                                        <th>
                                            Connected By IP
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var relatedPlayerDto in Model.Player.RelatedPlayers)
                                    {
                                    <tr>
                                        <td>@Html.GameTypeIcon(relatedPlayerDto.GameType) @Html.ActionLink(relatedPlayerDto.Username, "Details", "Players", new {id = relatedPlayerDto.PlayerId})</td>
                                        <td>@relatedPlayerDto.IpAddress</td>
                                    </tr> 
                                    }
                                </tbody>
                            </table>
                        </div>
                    }

                    <div class="ibox-content tab-pane container fade" style="height: 100%" id="chatLog">
                        <table id="chatLogTable" style="width: 100%;">
                            <thead>
                            <tr>
                                <th>
                                    Timestamp
                                </th>
                                <th>
                                    Username
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Message
                                </th>
                                <th>
                                    Server
                                </th> 
                                <th>
                                    Link
                                </th>
                            </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="ibox-content tab-pane container fade" style="height: 100%" id="playerTags">
                        @await Component.InvokeAsync("PlayerTags", new { playerId = Model.Player.PlayerId })
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

@await Component.InvokeAsync("AdminActions", new {adminActions = Model.Player.AdminActions, linkToPlayer = false, playerDto = Model.Player})

</div>

@* ReSharper disable once Razor.SectionNotResolved *@

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function() {

            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })

            $('#chatLogTable').DataTable({
                processing: true,
                serverSide: true,
                searchDelay: 1000,
                stateSave: true,
                order: [[1, "desc"]],
                ajax: {
                    url: '/ServerAdmin/GetPlayerChatLog/@Model.Player.PlayerId',
                    dataSrc: 'data',
                    contentType: "application/json",
                    type: "POST",
                    "data": function(d) {
                        return JSON.stringify(d);
                    }
                },
                columns: [
                    {
                        data: 'timestamp',
                        name: 'timestamp',
                        sortable: true
                    },
                    {
                        data: 'username',
                        name: 'username',
                        sortable: false,
                        render: function(data, type, row) {
                            return renderPlayerName(row['player']['gameType'], row['username'], row['playerId']);
                        }
                    },
                    {
                        data: 'chatType',
                        name: 'chatType',
                        sortable: false
                    },
                    {
                        data: 'message',
                        name: 'message',
                        sortable: false
                    },
                    {
                        data: 'serverName',
                        name: 'serverName',
                        sortable: false,
                        render: function(data, type, row) {
                            return row['gameServer']['liveTitle'];
                        }   
                    },
                    {
                        data: 'chatMessageId',
                        name: 'chatMessageId',
                        sortable: false,
                        render: function(data, type, row) {
                            return chatLogUrl(row['chatMessageId']);
                        }
                    }
                ]
            });

        });

        function initMap() {
            @if (Model.GeoLocation != null)
            {
                <text>var myLatLng = {
                        lat: @Model.GeoLocation.Latitude,
                        lng: @Model.GeoLocation.Longitude
                    };

                    var map = new google.maps.Map(document.getElementById('map'),
                        {
                            zoom: 4,
                            center: myLatLng
                        });

                    new google.maps.Marker({
                        position: myLatLng,
                        map: map,
                        title: 'Player Location'
                    });
                </text>
            }
        }

    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTtnBCPGgfMxfohkzdaSsJEzC_y40bcpY&signed_in=false&callback=initMap"></script>    <script>
        $(document).ready(function () {
            // Format all IP addresses with ProxyCheck information
            $('.ip-address-container').each(function() {
                var container = $(this);
                var ip = container.data('ip');
                var risk = container.data('risk') || 0;
                var isProxy = container.data('is-proxy') === 'true';
                var isVpn = container.data('is-vpn') === 'true';
                var type = container.data('type') || '';
                var countryCode = container.data('country-code') || '';
                
                // If we don't have a country code but have an IP address,
                // just display with the unknown flag for now
                container.html(formatIPAddress(ip, risk, isProxy, isVpn, type, countryCode));
            });
        });
    </script>
}