@using XI.Portal.Web.Extensions
@model IEnumerable<XI.Portal.Servers.Dto.FileMonitorDto>

@{
    ViewData["Title"] = "File Monitor Index";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <row class="row">
        <div class="col-12">

            <div class="container-fluid">
                <div class="ibox">
                    <div class="ibox-content">
                        <table class="table table-responsive w-100 d-block d-md-table">
                            <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameServer)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FilePath)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LastRead)
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.GameTypeIcon(item.GameServer.GameType)
                                        @Html.ServerName(item.GameServer.Title, null)
                                    </td>
                                    <td>
                                        @Html.MonitorFtpPath(item.GameServer.FtpHostname, item.FilePath)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastRead)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.FileMonitorId">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.FileMonitorId">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.FileMonitorId">Delete</a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                    <div class="ibox-footer">
                        <a asp-action="Create">Create New</a>
                    </div>
                </div>
            </div>

        </div>
    </row>

</div>