@inject IAuthorizationService AuthorizationService
@using Microsoft.AspNetCore.Authorization
@using XI.Portal.Auth.Contract.Constants
@using XI.Portal.Web.Extensions
@model IEnumerable<XI.Portal.Servers.Dto.FileMonitorDto>

@{
    ViewData["Title"] = "File Monitor Index";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="alert alert-primary" role="alert">
        <i class="fa fa-info-circle"></i> This section allows you to manage what log files are monitored on all the servers. This is where the portal gets it's player information and processes events.
    </div>

    <row class="row">
        <div class="col-12">

            <div class="container-fluid">
                <div class="ibox">
                    <div class="ibox-content">
                        <table class="table table-responsive w-100 d-block d-md-table">
                            <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameServer)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FilePath)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LastRead)
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.GameTypeIcon(item.GameServer.GameType)
                                        @Html.ServerName(item.GameServer.Title, null)
                                    </td>
                                    <td>
                                        @if ((await AuthorizationService.AuthorizeAsync(User, item.GameServer, AuthPolicies.ViewFtpCredential)).Succeeded)
                                        {
                                            @Html.MonitorFtpPath(item.GameServer.FtpHostname, item.FilePath, item.GameServer.FtpUsername, item.GameServer.FtpPassword)
                                        }
                                        else
                                        {
                                            @Html.MonitorFtpPath(item.GameServer.FtpHostname, item.FilePath)
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastRead)
                                    </td>
                                    <td>
                                        <div class="btn-group btn-group-sm" role="group">
                                            @if ((await AuthorizationService.AuthorizeAsync(User, item, AuthPolicies.EditFileMonitor)).Succeeded)
                                            {
                                                <a type="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@item.FileMonitorId"><i class="fa fa-edit"></i> Edit Monitor</a>
                                            }

                                            @if ((await AuthorizationService.AuthorizeAsync(User, item.GameServer, AuthPolicies.EditGameServer)).Succeeded)
                                            {
                                                <a type="button" class="btn btn-primary" asp-controller="GameServers" asp-action="Edit" asp-route-id="@item.GameServer.ServerId"><i class="fa fa-edit"></i> Edit Game Server</a>
                                            }

                                            @if ((await AuthorizationService.AuthorizeAsync(User, item, AuthPolicies.ViewFileMonitor)).Succeeded)
                                            {
                                                <a type="button" class="btn btn-primary" asp-action="Details" asp-route-id="@item.FileMonitorId"><i class="fa fa-info-circle"></i> Details</a>
                                            }

                                            @if ((await AuthorizationService.AuthorizeAsync(User, item, AuthPolicies.DeleteFileMonitor)).Succeeded)
                                            {
                                                <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.FileMonitorId"><i class="fa fa-trash"></i> Delete</a>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                    <div class="ibox-footer">
                        <div class="btn-group btn-group-sm" role="group">
                            <a type="button" class="btn btn-primary" asp-action="Create"><i class="fa fa-plus"></i> Create New</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </row>

</div>