@using XI.Portal.Auth.Contract.Constants
@using XI.Portal.Data.Legacy.Models
@model XI.Portal.Users.Models.UserListEntryViewModel

@{
    ViewData["Title"] = "Manage Portal Claims - " + Model.Username;

    var gameServers = (List<GameServers>) ViewData["GameServers"];
}

<script type="text/javascript">


</script>

<row class="row">
    <div class="container-fluid">
        <div class="card card-header">
            @ViewData["Title"]
        </div>
        <div class="card card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Username)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Username)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
            </dl>
        </div>
    </div>
</row>

<row class="row">
    <div class="container-fluid" style="padding-top: 40px">
        <div class="card card-header">
            Active Claims
        </div>
        <div class="card card-body">
            <table class="table table-responsive w-100 d-block d-md-table">
                <thead>
                <tr>
                    <td>Claim Type</td>
                    <td>Claim Value</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                @foreach (var claim in Model.PortalClaims)
                {
                    <tr>
                        <td>@claim.ClaimType</td>
                        <td>
                            @{
                                Guid.TryParse(claim.ClaimValue, out var serverId);
                                var server = gameServers.FirstOrDefault(s => s.ServerId == serverId);
                                if (server == null)
                                {
                                    <text>Invalid Claim</text>
                                }
                                else
                                {
                                    <text>@server.Title</text>
                                }
                            }
                        </td>
                        <td>
                            <form class="form-inline" asp-controller="User" asp-action="RemoveUserClaim" method="post">
                                <input id="id" name="id" type="hidden" value="@Model.Id"/>
                                <input id="claimId" name="claimId" type="hidden" value="@claim.RowKey"/>
                                <button type="submit" class="btn btn-link">Remove Claim</button>
                            </form>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</row>


<row class="row">
    <div class="container-fluid" style="padding-top: 40px">
        <div class="card card-header">
            Add Ftp Portal Claim
        </div>
        <div class="card card-body">
            <form asp-action="AddUserClaim">
                <input id="id" name="id" type="hidden" value="@Model.Id"/>
                <input id="claimType" name="claimType" type="hidden" value="@PortalClaimTypes.FtpCredentials"/>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <select id="claimValue" name="claimValue" class="form-control" asp-items="ViewBag.GameServerServerId"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
</row>

<row class="row">
    <div class="container-fluid" style="padding-top: 40px">
        <div class="card card-header">
            Add Rcon Portal Claim
        </div>
        <div class="card card-body">
            <form asp-action="AddUserClaim">
                <input id="id" name="id" type="hidden" value="@Model.Id"/>
                <input id="claimType" name="claimType" type="hidden" value="@PortalClaimTypes.RconCredentials"/>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <select id="claimValue" name="claimValue" class="form-control" asp-items="ViewBag.GameServerServerId"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary"/>
                </div>
            </form>
        </div>
        <div class="card card-footer">
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</row>