@inject IAuthorizationService AuthorizationService
@using Microsoft.AspNetCore.Authorization
@using XI.Portal.Auth.Contract.Constants
@using XI.Portal.Web.Extensions
@model List<XI.Portal.Servers.Dto.BanFileMonitorDto>

@{
    ViewData["Title"] = "Ban File Status";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="alert alert-danger" role="alert">
        <i class="fa fa-warning"></i> THIS FEATURE HAS BEEN DISCONTINUED AND THIS PAGE WILL SHORTLY BE REPLACED WITH NEW FUNCTIONALITY!
    </div>

    <row class="row">
        <div class="col-12">

            <div class="container-fluid">
                <div class="ibox">
                    <div class="ibox-title">
                        @ViewData["Title"]
                    </div>
                    <div class="ibox-content">
                        A ban file will be considered out of sync if:
                        <ul>
                            <li>The last sync has been more than 30 minutes ago</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </row>

    @foreach (var item in Model)
    {
        <row class="row">
            <div class="col-12">

                <div class="container-fluid">
                    <div class="ibox">
                        <div class="ibox-title">
                            <span>
                                @Html.GameTypeIcon(item.GameServer.GameType) @Html.ServerName(item.GameServer.Title, null)
                            </span>
                        </div>
                        <div class="ibox-content">
                            <p>
                                <text><strong>File Path: </strong>ftp://@item.GameServer.FtpHostname@item.FilePath</text><br/>
                                <text>
                                    <strong>Last Recorded Sync: </strong>@item.LastSync
                                </text><br/>
                                <text>
                                    <strong>Remote Modified: </strong>@item.LastSync
                                </text><br/>
                                <text>
                                    <strong>Last Recorded Size: </strong>@item.RemoteFileSize
                                </text>
                                <br/>

                                @if (item.LastSync < DateTime.UtcNow.AddMinutes(-30))
                                {
                                    <div class="alert alert-danger">Ban file monitor has not run in the past 30 minutes</div>
                                }
                                else
                                {
                                    <div class="alert alert-success">Everything looks OK, on the surface at least.</div>
                                }

                                <div class="btn-group btn-group-sm" role="group">
                                    @if ((await AuthorizationService.AuthorizeAsync(User, item.GameServer, AuthPolicies.EditGameServer)).Succeeded)
                                    {
                                        <a type="button" class="btn btn-primary" asp-controller="GameServers" asp-action="Edit" asp-route-id="@item.GameServer.ServerId">
                                            <i class="fa fa-edit"></i> Edit Game Server
                                        </a>
                                    }

                                    @if ((await AuthorizationService.AuthorizeAsync(User, item, AuthPolicies.EditBanFileMonitor)).Succeeded)
                                    {
                                        <a type="button" class="btn btn-primary" asp-controller="BanFileMonitors" asp-action="Edit" asp-route-id="@item.BanFileMonitorId">
                                            <i class="fa fa-edit"></i> Edit Ban File Monitor
                                        </a>
                                    }
                                </div>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </row>
    }

</div>