@using XI.Portal.Auth.Contract.Constants
@using XI.Portal.Web.Extensions
@model List<XI.Portal.Servers.Models.GameServerStatusViewModel>

@{
    ViewData["Title"] = "Game Server Status";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <row class="row">
        <div class="col-12">

            <div class="container-fluid">
                <div class="ibox">
                    <div class="ibox-title">
                        @ViewData["Title"]
                    </div>
                    <div class="ibox-content">
                        A server will be considered out of sync if:
                        <ul>
                            <li>The server has not been directly queries within the past 15 minutes</li>
                            <li>The current map cannot be retrieved from the query</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </row>

    @foreach (var item in Model)
    {
        <row class="row">
            <div class="col-12">

                <div class="container-fluid">
                    <div class="ibox">
                        <div class="ibox-title">
                            <span>
                                @Html.GameTypeIcon(item.GameServer.GameType) @Html.ServerName(item.GameServer.Title, item.GameServer.LiveTitle)
                            </span>
                        </div>
                        <div class="ibox-content">
                            <p>
                                <text>
                                    <strong>Server Hostname: </strong>@item.GameServer.Hostname
                                </text><br/>
                                <text>
                                    <strong>Last Queried: </strong>@item.GameServer.LiveLastUpdated
                                </text><br/>
                                <text>
                                    <strong>Mod: </strong>@item.GameServer.LiveMod
                                </text><br/>
                                <text>
                                    <strong>Map: </strong>@item.GameServer.LiveMap
                                </text><br/>
                                <text>
                                    <strong>Player Count: </strong>@item.GameServer.LiveCurrentPlayers
                                </text><br/>

                                @if (!string.IsNullOrWhiteSpace(item.ErrorMessage))
                                {
                                    <div class="alert alert-danger">@item.ErrorMessage</div>
                                }

                                @if (!string.IsNullOrWhiteSpace(item.WarningMessage))
                                {
                                    <div class="alert alert-warning">@item.WarningMessage</div>
                                }

                                @if (string.IsNullOrWhiteSpace(item.ErrorMessage) && string.IsNullOrWhiteSpace(item.WarningMessage))
                                {
                                    <div class="alert alert-success">@item.SuccessMessage</div>
                                }

                                @{
                                    var canEditConfig = User.Claims.Any(claim => claim.Type == XtremeIdiotsClaimTypes.SeniorAdmin ||
                                                                                 claim.Type == XtremeIdiotsClaimTypes.HeadAdmin && claim.Value == item.GameServer.GameType.ToString());
                                }

                                @if (canEditConfig)
                                {
                                    <a asp-controller="GameServers" asp-action="Edit" asp-route-id="@item.GameServer.ServerId">
                                        <i class="fa fa-edit"></i> Edit Game Server
                                    </a>
                                }
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </row>
    }
</div>