@using XI.Portal.Auth.Contract.Constants
@using XI.Portal.Web.Extensions
@model List<XI.Portal.Servers.Models.FileMonitorStatusViewModel>

@{
    ViewData["Title"] = "Log File Status";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <row class="row">
        <div class="col-12">

            <div class="container-fluid">
                <div class="ibox">
                    <div class="ibox-title">
                        @ViewData["Title"]
                    </div>
                    <div class="ibox-content">
                        A log file will be considered out of sync if:
                        <ul>
                            <li>The log file has not been read in the past 30 minutes</li>
                            <li>(Warning) The log file has not been read in the past 15 minutes</li>
                            <li>(Investigate) The log file has not been modified in over 1 hour (this can be caused by an empty server)</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </row>

    @foreach (var item in Model)
    {
        <row class="row">
            <div class="col-12">

                <div class="container-fluid">
                    <div class="ibox">
                        <div class="ibox-title">
                            <span>
                                @Html.GameTypeIcon(item.GameServer.GameType) @Html.ServerName(item.GameServer.Title, item.GameServer.LiveTitle)
                            </span>
                        </div>
                        <div class="ibox-content">
                            <p>
                                <text><strong>File Path: </strong>ftp://@item.GameServer.FtpHostname@item.FileMonitor.FilePath</text><br/>
                                <text>
                                    <strong>Remote Modified: </strong>@item.LastModified
                                </text><br/>
                                <text>
                                    <strong>Remote Size: </strong>@item.FileSize
                                </text><br/>

                                @if (!string.IsNullOrWhiteSpace(item.ErrorMessage))
                                {
                                    <div class="alert alert-danger">@item.ErrorMessage</div>
                                }

                                @if (!string.IsNullOrWhiteSpace(item.WarningMessage))
                                {
                                    <div class="alert alert-warning">@item.WarningMessage</div>
                                }

                                @if (string.IsNullOrWhiteSpace(item.ErrorMessage) && string.IsNullOrWhiteSpace(item.WarningMessage))
                                {
                                    <div class="alert alert-success">@item.SuccessMessage</div>
                                }

                                @{
                                    var canEditConfig = User.Claims.Any(claim => claim.Type == XtremeIdiotsClaimTypes.SeniorAdmin ||
                                                                                 claim.Type == XtremeIdiotsClaimTypes.HeadAdmin && claim.Value == item.GameServer.GameType.ToString());
                                }

                                @if (canEditConfig)
                                {
                                    <a asp-controller="GameServers" asp-action="Edit" asp-route-id="@item.GameServer.ServerId">
                                        <i class="fa fa-edit"></i> Edit Game Server
                                    </a>
                                    <a asp-controller="FileMonitors" asp-action="Edit" asp-route-id="@item.FileMonitor.FileMonitorId">
                                        <i class="fa fa-edit"></i> Edit File Monitor
                                    </a>
                                }
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </row>
    }
</div>