@using XI.Portal.Auth.Contract.Constants
@using XI.Portal.Web.Extensions
@model List<XI.Portal.Servers.Models.RconMonitorStatusViewModel>

@{
    ViewData["Title"] = "Rcon Status";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <row class="row">
        <div class="col-12">

            <div class="container-fluid">
                <div class="ibox">
                    <div class="ibox-title">
                        @ViewData["Title"]
                    </div>
                    <div class="ibox-content">
                        A rcon monitor will be considered failed if:
                        <ul>
                            <li>The rcon status has not been updated in the past 15 minutes</li>
                            <li>The rcon result is empty</li>
                            <li>The rcon result contains 'Invalid Password'</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </row>

    @foreach (var item in Model)
    {
        <row class="row">
            <div class="col-12">

                <div class="container-fluid">
                    <div class="ibox">
                        <div class="ibox-title">
                            <span>
                                @Html.GameTypeIcon(item.GameServer.GameType) @Html.ServerName(item.GameServer.Title, item.GameServer.LiveTitle)
                            </span>
                        </div>
                        <div class="ibox-content">
                            <p>
                                <text>
                                    <strong>Server Hostname: </strong>@item.GameServer.Hostname
                                </text><br/>
                                <text>
                                    <strong>Last Rcon Status: </strong>@item.RconMonitor.LastUpdated
                                </text><br/>

                                <div id="accordion-@item.RconMonitor.RconMonitorId">
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo-@item.RconMonitor.RconMonitorId" aria-expanded="false" aria-controls="collapseTwo">
                                                    View Rcon Status Command Response

                                                    @if (string.IsNullOrWhiteSpace(item.RconStatusResult))
                                                    {
                                                        <text> - (RCON STATUS EMPTY!!)</text>
                                                    }
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo-@item.RconMonitor.RconMonitorId" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion-@item.RconMonitor.RconMonitorId">
                                            <div class="card-body">
                                                @item.RconStatusResult
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br/>

                                @if (!string.IsNullOrWhiteSpace(item.ErrorMessage))
                                {
                                    <div class="alert alert-danger">@item.ErrorMessage</div>
                                }

                                @if (!string.IsNullOrWhiteSpace(item.WarningMessage))
                                {
                                    <div class="alert alert-warning">@item.WarningMessage</div>
                                }

                                @if (string.IsNullOrWhiteSpace(item.ErrorMessage) && string.IsNullOrWhiteSpace(item.WarningMessage))
                                {
                                    <div class="alert alert-success">@item.SuccessMessage</div>
                                }
                                @{
                                    var canEditConfig = User.Claims.Any(claim => claim.Type == XtremeIdiotsClaimTypes.SeniorAdmin ||
                                                                                 claim.Type == XtremeIdiotsClaimTypes.HeadAdmin && claim.Value == item.GameServer.GameType.ToString());
                                }

                                @if (canEditConfig)
                                {
                                    <a asp-controller="GameServers" asp-action="Edit" asp-route-id="@item.GameServer.ServerId">
                                        <i class="fa fa-edit"></i> Edit Game Server
                                    </a>
                                    <a asp-controller="RconMonitors" asp-action="Edit" asp-route-id="@item.RconMonitor.RconMonitorId">
                                        <i class="fa fa-edit"></i> Edit Rcon Monitor
                                    </a>
                                }
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </row>
    }
</div>