@inject IAuthorizationService AuthorizationService
@using Microsoft.AspNetCore.Authorization
@using XI.Portal.Auth.Contract.Constants
@using XI.Portal.Web.Extensions
@model List<XI.Portal.Servers.Dto.RconMonitorDto>

@{
    ViewData["Title"] = "Rcon Status";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="alert alert-warning" role="alert">
        <i class="fa fa-warning"></i> This is a legacy feature which will be migrated to the new portal backend in the near future, this is a cut down status until then.
    </div>

    <row class="row">
        <div class="col-12">

            <div class="container-fluid">
                <div class="ibox">
                    <div class="ibox-title">
                        @ViewData["Title"]
                    </div>
                    <div class="ibox-content">
                        A rcon monitor will be considered failed if:
                        <ul>
                            <li>The last update has been more than 30 minutes ago</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </row>

    @foreach (var item in Model)
    {
        <row class="row">
            <div class="col-12">

                <div class="container-fluid">
                    <div class="ibox">
                        <div class="ibox-title">
                            <span>
                                @Html.GameTypeIcon(item.GameServer.GameType) @Html.ServerName(item.GameServer.Title, null)
                            </span>
                        </div>
                        <div class="ibox-content">
                            <p>
                                <text>
                                    <strong>Server Hostname: </strong>@item.GameServer.Hostname
                                </text><br/>
                                <text>
                                    <strong>Last Rcon Status: </strong>@item.LastUpdated
                                </text><br/><br/>

                                @if (item.LastUpdated < DateTime.UtcNow.AddMinutes(-30))
                                {
                                    <div class="alert alert-danger">Ban file monitor has not run in the past 30 minutes</div>
                                }
                                else
                                {
                                    <div class="alert alert-success">Everything looks OK, on the surface at least.</div>
                                }

                                <div class="btn-group btn-group-sm" role="group">
                                    @if ((await AuthorizationService.AuthorizeAsync(User, item.GameServer, AuthPolicies.EditGameServer)).Succeeded)
                                    {
                                        <a type="button" class="btn btn-primary" asp-controller="GameServers" asp-action="Edit" asp-route-id="@item.GameServer.ServerId">
                                            <i class="fa fa-edit"></i> Edit Game Server
                                        </a>
                                    }

                                    @if ((await AuthorizationService.AuthorizeAsync(User, item, AuthPolicies.EditRconMonitor)).Succeeded)
                                    {
                                        <a type="button" class="btn btn-primary" asp-controller="RconMonitors" asp-action="Edit" asp-route-id="@item.RconMonitorId">
                                            <i class="fa fa-edit"></i> Edit Rcon Monitor
                                        </a>
                                    }
                                </div>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </row>
    }
</div>