@using XtremeIdiots.Portal.AdminWebApp.Extensions
@using XtremeIdiots.Portal.AdminWebApp.Models
@model List<ServersGameServerViewModel>

@{
    ViewData["Title"] = "Game Servers";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <row class="row">
        <div class="col-12">

            <div class="container-fluid">
                <div class="ibox">
                    <div class="ibox-content">
                        <table class="table table-responsive w-100 d-block d-md-table">
                            <thead>
                            <tr>
                                <th>
                                </th>
                                <th>
                                    @Html.Label("Title")
                                </th>
                                <th>
                                    @Html.Label("Hostname")
                                </th>
                                <th></th>
                                <th>
                                    @Html.Label("Players")
                                </th>
                                <th>
                                    @Html.Label("Map")
                                </th>
                                <th>
                                    @Html.Label("Mod")
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.GameTypeIcon(item.GameServer.GameType)
                                    </td>
                                    <td>
                                        @Html.ServerName(item.GameServer.Title, item.GameServer.LiveTitle)
                                    </td>
                                    <td>
                                        @Html.ServerHostAndPort(item.GameServer.Hostname, item.GameServer.QueryPort)

                                    </td>
                                    <td>
                                        @Html.GameTrackerIcon(item.GameServer.Hostname, item.GameServer.QueryPort)
                                        @Html.SteamIcon(item.GameServer.GameType.ToString(), item.GameServer.Hostname, item.GameServer.QueryPort)
                                        @Html.HlswIcon(item.GameServer.GameType.ToString(), item.GameServer.Hostname, item.GameServer.QueryPort)
                                    </td>
                                    <td>
                                        @{
                                            double percentage = 0;
                                            if (item.GameServer.LiveCurrentPlayers != 0 && item.GameServer.LiveMaxPlayers != 0)
                                            {
                                                percentage = (double) item.GameServer.LiveCurrentPlayers / item.GameServer.LiveMaxPlayers * 100;
                                            }
                                        }

                                        <div class="progress" style="margin-right: 20px">
                                            <div style="width: @percentage%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="@percentage" role="progressbar" class="progress-bar">
                                                <span class="sr-only">@percentage% Slots Filled</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        @item.GameServer.LiveMap
                                    </td>
                                    <td>
                                        @item.GameServer.LiveMod
                                    </td>
                                    <td>
                                        <div class="btn-group btn-group-sm" role="group">
                                            <a type="button" class="btn btn-primary" asp-controller="Servers" asp-action="ServerInfo" asp-route-id="@item.GameServer.Id"><i class="fa fa-info-circle"></i> Server Info</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </row>

</div>
