@using XtremeIdiots.Portal.RepositoryApi.Abstractions.Constants
@using XtremeIdiots.Portal.RepositoryApi.Abstractions.Models
@model AdminActionDto

@{
    ViewData["Title"] = "Claiming " + Model.Type;
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="alert alert-primary" role="alert">
        <i class="fa fa-info-circle"></i> Claim this @Model.Type by clicking the claim button below. Head admins are able to claim a ban on behalf of an admin through the edit function.
    </div>

    <row class="row">
        <div class="col-12">

            <div class="container-fluid">
                <div class="ibox">
                    <div class="ibox-title">
                        @ViewData["Title"]
                    </div>
                    <div class="ibox-content">
                        <h3>Are you sure you want to claim this @Model.Type?</h3>
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Type)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Type)
                            </dd>

                            @if (Model.Type == AdminActionType.TempBan)
                            {
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Expires)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Expires)
                                </dd>
                            }

                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Username)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Username)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Text)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.Raw(Model.Text)
                            </dd>
                        </dl>
                        <h4>After claiming you should then edit the @Model.Type with the reason.</h4>
                    </div>
                    <div class="ibox-footer">
                        <form asp-action="Claim">
                            <input type="hidden" asp-for="AdminActionId"/>
                            <input type="hidden" asp-for="PlayerId"/>
                            <input type="submit" value="Claim @Model.Type" class="btn btn-danger"/> |
                            <a asp-controller="Players" asp-action="Details" asp-route-id="@Model.PlayerId">Back to Player</a>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </row>

</div>

@* ReSharper disable once Razor.SectionNotResolved *@

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}