@inject IAuthorizationService AuthorizationService
@using Microsoft.AspNetCore.Authorization
@using XtremeIdiots.Portal.Web.Auth.Constants
@using XtremeIdiots.Portal.Web.Extensions
@using XtremeIdiots.Portal.Web.Models
@using XtremeIdiots.Portal.Web.ViewModels
@using XtremeIdiots.Portal.Repository.Abstractions.Constants.V1
@using XtremeIdiots.Portal.Repository.Abstractions.Models.V1
@model PlayerDetailsViewModel

@{
    ViewData["Title"] = (Model?.Player?.Username ?? "Unknown Player") + " Player Details";
}

<div class="wrapper wrapper-content animated fadeInRight">

@if (Model?.Player != null)
{
    var player = Model.Player;
<!-- Player Banner -->
<div class="row">
    <div class="col-12">
        <div class="ibox">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-12">                        
                        <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center">                            
                            <div class="mr-0 mr-md-3 mb-2 mb-md-0 text-center text-md-left">                                
                                <game-type-icon game="@player.GameType"></game-type-icon>
                            </div>
                            <div class="flex-grow-1">
                                <h2 class="mb-2 text-center text-md-left">@(player.Username ?? "Unknown Player")</h2>                                
                                <div class="text-muted mb-3">
                                    <div class="row">                                        
                                        <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                                            <span class="d-flex align-items-center justify-content-center justify-content-md-start">
                                                <i class="fa fa-id-card mr-1"></i> Player ID: 
                                                <span id="playerId" class="mx-1 font-weight-bold">@player.PlayerId.ToString()</span>
                                                <i class="fa fa-copy cursor-pointer" onclick="copyToClipboard('playerId')" title="Copy Player ID"></i>
                                            </span>
                                            <span class="d-flex align-items-center justify-content-center justify-content-md-start">
                                                <i class="fa fa-key mr-1"></i> GUID: 
                                                <span id="playerGuid" class="mx-1 font-weight-bold text-truncate"><guid-link guid="@player.Guid" game="@player.GameType.ToString()"></guid-link></span>
                                                <i class="fa fa-copy cursor-pointer" onclick="copyToClipboard('playerGuid')" title="Copy GUID"></i>
                                            </span>
                                            @if (player.Tags != null && player.Tags.Any())
                                            {
                                                <span class="d-flex align-items-center justify-content-center justify-content-md-start">
                                                    <i class="fa fa-tag mr-1"></i> Tags: 
                                                    <span class="mx-1">
                                                        @foreach (var playerTag in player.Tags)
                                                        {
                                                            @Html.Raw(playerTag.Tag?.TagHtml)
                                                        }
                                                    </span>
                                                </span>
                                            }
                                        </div>

                                        <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                                            <div class="btn-toolbar justify-content-center justify-content-md-start" role="toolbar">
                                                <div class="btn-group flex-wrap" role="group">
                                                @if ((await AuthorizationService.AuthorizeAsync(User, new Tuple<GameType, AdminActionType>(player.GameType, AdminActionType.Observation), AuthPolicies.CreateAdminAction)).Succeeded)
                                                {
                                                    <a asp-controller="AdminActions" asp-action="Create" asp-route-id="@player.PlayerId" asp-route-adminActionType="Observation" class="btn btn-outline-primary btn-sm">
                                                        <i class="fa fa-eye"></i> Observation
                                                    </a>
                                                }

                                                @if ((await AuthorizationService.AuthorizeAsync(User,new Tuple<GameType, AdminActionType>(player.GameType, AdminActionType.Warning), AuthPolicies.CreateAdminAction)).Succeeded)
                                                {
                                                    <a asp-controller="AdminActions" asp-action="Create" asp-route-id="@player.PlayerId" asp-route-adminActionType="Warning" class="btn btn-outline-warning btn-sm">
                                                        <i class="fa fa-exclamation-triangle"></i> Warning
                                                    </a>
                                                }

                                                @if ((await AuthorizationService.AuthorizeAsync(User, new Tuple<GameType, AdminActionType>(player.GameType, AdminActionType.Kick), AuthPolicies.CreateAdminAction)).Succeeded)
                                                {
                                                    <a asp-controller="AdminActions" asp-action="Create" asp-route-id="@player.PlayerId" asp-route-adminActionType="Kick" class="btn btn-outline-info btn-sm">
                                                        <i class="fa fa-sign-out"></i> Kick
                                                    </a>
                                                }

                                                @if ((await AuthorizationService.AuthorizeAsync(User, new Tuple<GameType, AdminActionType>(player.GameType, AdminActionType.TempBan), AuthPolicies.CreateAdminAction)).Succeeded)
                                                {
                                                    <a asp-controller="AdminActions" asp-action="Create" asp-route-id="@player.PlayerId" asp-route-adminActionType="TempBan" class="btn btn-outline-secondary btn-sm">
                                                        <i class="fa fa-clock-o"></i> Temp Ban
                                                    </a>
                                                }

                                                @if ((await AuthorizationService.AuthorizeAsync(User, new Tuple<GameType, AdminActionType>(player.GameType, AdminActionType.Ban), AuthPolicies.CreateAdminAction)).Succeeded)
                                                {
                                                    <a asp-controller="AdminActions" asp-action="Create" asp-route-id="@player.PlayerId" asp-route-adminActionType="Ban" class="btn btn-outline-danger btn-sm">
                                                        <i class="fa fa-ban"></i> Ban
                                                    </a>
                                                }

                                                <a asp-controller="ProtectedNames" asp-action="Add" asp-route-id="@player.PlayerId" class="btn btn-outline-success btn-sm">
                                                    <i class="fa fa-shield"></i> Protected Name
                                                </a>
                                                @if ((await AuthorizationService.AuthorizeAsync(User, AuthPolicies.CreatePlayerTag)).Succeeded)
                                                {
                                                    <a asp-controller="Players" asp-action="AddPlayerTag" asp-route-id="@player.PlayerId" class="btn btn-outline-dark btn-sm">
                                                        <i class="fa fa-tag"></i> Tag
                                                    </a>
                                                }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-12 col-lg-4 mb-4 mb-lg-0">
        <div class="ibox">
            <div class="ibox-content">

                <div id="player" class="tab-pane active">                    
                    <div>                        
                        <ul class="list-group clear-list">
                            <li class="list-group-item">
                                <span class="float-right text-right"> @player.Username</span>
                                Alias
                            </li>                            
                            @if (Model.GeoLocation != null)
                            {                                  
                                <li class="list-group-item">                                    
                                    <span class="float-right text-right ip-address-container" 
                                          data-ip="@player.IpAddress" 
                                          data-risk="@player.ProxyCheckRiskScore()" 
                                          data-is-proxy="@player.IsProxy().ToString().ToLower()" 
                                          data-is-vpn="@player.IsVpn().ToString().ToLower()"
                                          data-type="@player.ProxyType()"
                                                                                    data-country-code="@(Model.GeoLocation.CountryCode ?? "")">
                                                                                <ip-address ip="@player.IpAddress" geo="@Model.GeoLocation" risk="@player.ProxyCheckRiskScore()" is-proxy="@player.IsProxy()" is-vpn="@player.IsVpn()" proxy-type="@player.ProxyType()"></ip-address>
                                    </span>
                                    IP Address
                                </li>
                                <li class="list-group-item">
                                    <span class="float-right text-right"> <location-summary geo-model="@Model.GeoLocation"></location-summary></span>
                                    Country/City
                                </li>
                            }        
                            <li class="list-group-item">
                                <span class="float-right text-right">
                                    <i class="fa fa-clock-o"></i> <time user-time utc="@player.FirstSeen"></time>
                                </span>
                                First Seen
                            </li>                    
                            <li class="list-group-item">
                                <span class="float-right text-right">
                                    <i class="fa fa-clock-o"></i> <time user-time utc="@player.LastSeen"></time>
                                </span>
                                Last Seen
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>
       
        <div class="ibox">
            <div class="ibox-title">
                <h5>Player Location</h5>
            </div>
            <div class="ibox-content">
                <div id="map" style="height: 300px; width: 100%;"></div>
                <div class="text-right mt-2">
                    <small><a target="_blank" href="https://www.geo-location.net/">Powered by geo-location.net</a></small>
                </div>
            </div>
        </div>

    </div>

    <div class="col-12 col-lg-8 mb-8 mb-lg-0">
        <div class="ibox ">
            <div class="ibox-content">

                <ul class="nav nav-tabs nav-tabs-responsive" id="playerDetailsTabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="aliases-tab" data-bs-toggle="tab" href="#aliases" role="tab" aria-controls="aliases" aria-selected="true">Aliases</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="ipAddresses-tab" data-bs-toggle="tab" href="#ipAddresses" role="tab" aria-controls="ipAddresses" aria-selected="false">IP Addresses</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="protectedNames-tab" data-bs-toggle="tab" href="#protectedNames" role="tab" aria-controls="protectedNames" aria-selected="false">Protected Names</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="playerTags-tab" data-bs-toggle="tab" href="#playerTags" role="tab" aria-controls="playerTags" aria-selected="false">Tags</a>
                    </li>
                    @if (!string.IsNullOrWhiteSpace(player.IpAddress))
                    {
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="relatedPlayers-tab" data-bs-toggle="tab" href="#relatedPlayers" role="tab" aria-controls="relatedPlayers" aria-selected="false">Related Players</a>
                        </li>
                    }
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="chatLog-tab" data-bs-toggle="tab" href="#chatLog" role="tab" aria-controls="chatLog" aria-selected="false">ChatLog</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="ibox-content tab-pane container fade show active" style="height: 100%" id="aliases" role="tabpanel" aria-labelledby="aliases-tab">
                        <div class="table-responsive">
                            <table class="table table-borderless" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Added
                                        </th>
                                        <th>
                                            Last Used
                                        </th>
                                        <th data-bs-toggle="tooltip" data-bs-placement="bottom" title="Confidence is determined by the amount of times that the Alias has been linked to the GUID">
                                            Confidence
                                        </th>
                                    </tr>
                                </thead>                            
                                <tbody>
                                    @if (player.PlayerAliases != null)
                                    {
                                        @foreach(var aliasDto in player.PlayerAliases)
                                        {
                                        <tr>
                                            <td>@aliasDto.Name</td>
                                            <td><time user-time utc="@aliasDto.Added"></time></td>
                                            <td><time user-time utc="@aliasDto.LastUsed"></time></td>
                                            <td><confidence-label score="@aliasDto.ConfidenceScore" last-used="@aliasDto.LastUsed"></confidence-label></td>
                                        </tr> 
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <div class="ibox-content tab-pane container fade" style="height: 100%" id="ipAddresses" role="tabpanel" aria-labelledby="ipAddresses-tab">
                        <div class="table-responsive">
                            <table class="table table-borderless" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>
                                            Address
                                        </th>
                                        <th>
                                            Added
                                        </th>
                                        <th>
                                            Last Used
                                        </th>
                                            <th data-bs-toggle="tooltip" data-bs-placement="bottom" title="Confidence is determined by the amount of times that the IP Address has been linked to the GUID">
                                            Confidence
                                        </th>
                                    </tr>
                                </thead>                            
                                <tbody>
                                    @if (Model.EnrichedIpAddresses != null)
                                    {
                                        @foreach(var ipAddress in Model.EnrichedIpAddresses)
                                        {                                
                                        <tr>                                        
                                            <td class="ip-address-container" 
                                              data-ip="@ipAddress.Address" 
                                              data-risk="@ipAddress.RiskScore" 
                                              data-is-proxy="@ipAddress.IsProxy.ToString().ToLower()" 
                                              data-is-vpn="@ipAddress.IsVpn.ToString().ToLower()"
                                              data-type="@(ipAddress.ProxyCheck?.Type ?? "")"
                                              data-country-code="@(ipAddress.GeoLocation?.CountryCode ?? "unknown")">
                                                <!-- This initial rendering will be replaced by JavaScript -->
                                                <img src="/images/flags/@(ipAddress.GeoLocation != null && !string.IsNullOrEmpty(ipAddress.GeoLocation.CountryCode) ? ipAddress.GeoLocation.CountryCode.ToLower() : "unknown").png" /> @ipAddress.Address
                                            </td>
                                            <td><time user-time utc="@ipAddress.IpAddressDto.Added"></time></td>
                                            <td><time user-time utc="@ipAddress.IpAddressDto.LastUsed"></time></td>
                                            <td><confidence-label score="@ipAddress.IpAddressDto.ConfidenceScore" last-used="@ipAddress.IpAddressDto.LastUsed"></confidence-label></td>
                                        </tr> 
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <div class="ibox-content tab-pane container fade" style="height: 100%" id="protectedNames" role="tabpanel" aria-labelledby="protectedNames-tab">
                        @if (player.ProtectedNames != null && player.ProtectedNames.Any())
                        {
                            <div class="table-responsive">
                                <table class="table table-borderless" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Created</th>
                                            <th>Created By</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var protectedName in player.ProtectedNames)
                                        {
                                            <tr>
                                                <td>@protectedName.Name</td>
                                                <td><time user-time utc="@protectedName.CreatedOn"></time></td>
                                                <td>@protectedName.CreatedByUserProfile?.DisplayName</td>
                                                <td>
                                                    <div class="btn-group btn-group-sm d-flex flex-column flex-sm-row" role="group">
                                                        <a asp-controller="ProtectedNames" asp-action="Report" asp-route-id="@protectedName.ProtectedNameId" class="btn btn-info btn-sm mb-1 mb-sm-0">
                                                            <i class="fa fa-file-text"></i> <span class="d-none d-sm-inline">Usage Report</span>
                                                        </a>
                                                        <a asp-controller="ProtectedNames" asp-action="Delete" asp-route-id="@protectedName.ProtectedNameId" class="btn btn-danger btn-sm"
                                                           onclick="return confirm('Are you sure you want to delete this protected name?');">
                                                            <i class="fa fa-trash"></i> <span class="d-none d-sm-inline">Delete</span>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                              <p>
                                <a asp-controller="ProtectedNames" asp-action="Add" asp-route-id="@player.PlayerId" class="btn btn-primary">
                                    <i class="fa fa-plus"></i> Add Another Protected Name
                                </a>
                            </p>
                        }
                        else
                        {
                            <div class="alert alert-info">
                                This player has no protected names.
                            </div>
                              <p>
                                <a asp-controller="ProtectedNames" asp-action="Add" asp-route-id="@player.PlayerId" class="btn btn-primary">
                                    <i class="fa fa-plus"></i> Add Protected Name
                                </a>
                            </p>                        }
                    </div>
                    <div class="ibox-content tab-pane container fade" style="height: 100%" id="playerTags" role="tabpanel" aria-labelledby="playerTags-tab">
                        @await Component.InvokeAsync("PlayerTags", new { playerId = player.PlayerId })
                    </div>
                    
                    @if (!string.IsNullOrWhiteSpace(Model.Player?.IpAddress))
                    {
                        <div class="ibox-content tab-pane container fade" style="height: 100%" id="relatedPlayers" role="tabpanel" aria-labelledby="relatedPlayers-tab">
                            <div class="table-responsive">
                                <table class="table table-borderless" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>
                                                Player Name
                                            </th>
                                            <th>
                                                Connected By IP
                                            </th>
                                        </tr>
                                    </thead>                                
                                    <tbody>
                                        @if (player.RelatedPlayers != null)
                                        {
                                            @foreach(var relatedPlayerDto in player.RelatedPlayers)
                                            {
                                            <tr>
                                                <td><game-type-icon game="@relatedPlayerDto.GameType"></game-type-icon> @Html.ActionLink(relatedPlayerDto.Username, "Details", "Players", new {id = relatedPlayerDto.PlayerId})</td>
                                                <td>@relatedPlayerDto.IpAddress</td>
                                            </tr> 
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }

                    <div class="ibox-content tab-pane container fade" style="height: 100%" id="chatLog" role="tabpanel" aria-labelledby="chatLog-tab">
                        <table id="chatLogTable" style="width: 100%;">
                            <thead>
                            <tr>
                                <th>
                                    Timestamp
                                </th>
                                <th>
                                    Username
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Message
                                </th>
                                <th>
                                    Server
                                </th> 
                                <th>
                                    Link
                                </th>
                            </tr>
                            </thead>
                        </table>
                    </div>                
                </div>
            </div>
        </div>
    </div>

</div>

@await Component.InvokeAsync("AdminActions", new {adminActions = player.AdminActions, linkToPlayer = false, playerDto = player})
}

</div>

@* ReSharper disable once Razor.SectionNotResolved *@

@section scripts {
    <form id="__af" method="post" style="display:none">@Html.AntiForgeryToken()</form>
    <script type="text/javascript">

        $(document).ready(function() {
            // Initialize Bootstrap 5 tooltips
            const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl);
            });
            
            $('#chatLogTable').DataTable({
                processing: true,
                serverSide: true,
                searchDelay: 1000,
                stateSave: true,
                order: [[1, "desc"]],                
                ajax: {
                    url: '/ServerAdmin/GetPlayerChatLog/@(Model?.Player?.PlayerId.ToString() ?? Guid.Empty.ToString())',
                    dataSrc: 'data',
                    contentType: "application/json",
                    type: "POST",
                    beforeSend: function (xhr) {
                        var tokenInput = document.querySelector('input[name="__RequestVerificationToken"]');
                        var antiForgeryToken = tokenInput ? tokenInput.value : '';
                        if (antiForgeryToken) {
                            xhr.setRequestHeader('RequestVerificationToken', antiForgeryToken);
                        }
                    },
                    "data": function(d) {
                        return JSON.stringify(d);
                    }
                },
                columns: [
                    {
                        data: 'timestamp',
                        name: 'timestamp',
                        sortable: true
                    },
                    {
                        data: 'username',
                        name: 'username',
                        sortable: false,
                        render: function(data, type, row) {
                            return renderPlayerName(row['gameServer'] && row['gameServer']['gameType'], row['username'], row['playerId']);
                        }
                    },
                    {
                        data: 'chatType',
                        name: 'chatType',
                        sortable: false
                    },
                    {
                        data: 'message',
                        name: 'message',
                        sortable: false
                    },
                    {
                        data: 'serverName',
                        name: 'serverName',
                        sortable: false,
                        render: function(data, type, row) {
                            return (row['gameServer'] && row['gameServer']['liveTitle']) || '';
                        }   
                    },
                    {
                        data: 'chatMessageId',
                        name: 'chatMessageId',
                        sortable: false,
                        render: function(data, type, row) {
                            return chatLogUrl(row['chatMessageId']);
                        }
                    }
                ]
            });

            // Recalculate DataTable columns when its tab becomes visible
            document.querySelectorAll('a[data-bs-toggle="tab"]').forEach(function (el) {
                el.addEventListener('shown.bs.tab', function (e) {
                    if (e.target && e.target.id === 'chatLog-tab') {
                        var tbl = $('#chatLogTable').DataTable();
                        tbl.columns.adjust().responsive && tbl.responsive.recalc();
                    }
                });
            });

        });        
        
        // Initialize Google Map with player location
        function initMap() {
            @if (Model?.GeoLocation != null)
            {
                <text>
                    var myLatLng = {
                        lat: @Model.GeoLocation.Latitude,
                        lng: @Model.GeoLocation.Longitude
                    };

                    var map = new google.maps.Map(document.getElementById('map'),
                        {
                            zoom: 4,
                            center: myLatLng
                        });

                    new google.maps.Marker({
                        position: myLatLng,
                        map: map,
                        title: 'Player Location'
                    });
                </text>
            }
        }

    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTtnBCPGgfMxfohkzdaSsJEzC_y40bcpY&signed_in=false&callback=initMap"></script>
    <script>
        // Copy to clipboard functionality
        function copyToClipboard(elementId) {
            var element = document.getElementById(elementId);
            var text = element.textContent || element.innerText;
            
            if (navigator.clipboard && window.isSecureContext) {
                // Use modern clipboard API
                navigator.clipboard.writeText(text).then(function() {
                    showCopyFeedback(elementId);
                }, function(err) {
                    console.error('Could not copy text: ', err);
                });
            } else {
                // Fallback for older browsers
                var textArea = document.createElement("textarea");
                textArea.value = text;
                textArea.style.position = "fixed";
                textArea.style.left = "-999999px";
                textArea.style.top = "-999999px";
                document.body.appendChild(textArea);
                textArea.focus();
                textArea.select();
                
                try {
                    document.execCommand('copy');
                    showCopyFeedback(elementId);
                } catch (err) {
                    console.error('Could not copy text: ', err);
                }
                
                document.body.removeChild(textArea);
            }
        }
        
        function showCopyFeedback(elementId) {
            var icon = document.querySelector('#' + elementId + ' + .fa-copy');
            if (icon) {
                var originalClass = icon.className;
                icon.className = 'fa fa-check ml-1 cursor-pointer text-success';
                setTimeout(function() {
                    icon.className = originalClass;
                }, 2000);
            }
        }

        $(document).ready(function () {
            // Format all IP addresses with ProxyCheck information
            $('.ip-address-container').each(function() {
                var container = $(this);
                var ip = container.data('ip');
                var risk = container.data('risk') || 0;
                var isProxy = container.data('is-proxy') === 'true';
                var isVpn = container.data('is-vpn') === 'true';
                var type = container.data('type') || '';
                var countryCode = container.data('country-code') || '';
                
                // If we don't have a country code but have an IP address,
                // just display with the unknown flag for now
                container.html(formatIPAddress(ip, risk, isProxy, isVpn, type, countryCode));
            });
        });
    </script>
}