@using XI.Portal.Web.Extensions
@model XI.Portal.Data.Legacy.Models.RconMonitors

@{
    ViewData["Title"] = "Delete Rcon Monitor";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <row class="row">
        <div class="col-12">

            <div class="container-fluid">
                <div class="ibox">
                    <div class="ibox-title">
                        @ViewData["Title"]
                    </div>
                    <div class="ibox-content">
                        <h3>Are you sure you want to delete this?</h3>
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.GameServerServer)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.ServerName(Model.GameServerServer.Title, Model.GameServerServer.LiveTitle)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.MonitorMapRotation)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.MonitorMapRotation)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.MonitorPlayers)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.MonitorPlayers)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.MonitorPlayerIps)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.MonitorPlayerIps)
                            </dd>
                        </dl>
                    </div>
                    <div class="ibox-footer">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="RconMonitorId"/>
                            <input type="submit" value="Delete" class="btn btn-danger"/> |
                            <a asp-action="Index">Back to List</a>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </row>

</div>