@using XI.Portal.Web.Extensions
@model XI.Portal.Servers.Dto.RconMonitorDto

@{
    ViewData["Title"] = "Rcon Monitor Details";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <row class="row">
        <div class="col-12">

            <div class="container-fluid">
                <div class="ibox">
                    <div class="ibox-title">
                        @ViewData["Title"]
                    </div>
                    <div class="ibox-content">
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.GameServer)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.ServerName(Model.GameServer.Title, null)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.MonitorMapRotation)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.MonitorMapRotation)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.MonitorPlayers)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.MonitorPlayers)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.MonitorPlayerIps)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.MonitorPlayerIps)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.LastUpdated)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.LastUpdated)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.MapRotationLastUpdated)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.MapRotationLastUpdated)
                            </dd>
                        </dl>
                    </div>
                    <div class="ibox-footer">
                        <div class="btn-group btn-group-sm" role="group">
                            <a type="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.RconMonitorId"><i class="fa fa-edit"></i> Edit</a>
                            <a type="button" class="btn btn-primary" asp-action="Index"><i class="fa fa-arrow-left"></i> Back to List</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </row>

</div>